@font-face {
  font-family: 'renault_lifebold';
  src: url('../font/renault/renaultlife-bold.eot');
  src: url('../font/renault/renaultlife-bold.eot?#iefix') format('embedded-opentype'),
  url('../font/renault/renaultlife-bold.woff') format('woff'),
  url('../font/renault/renaultlife-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'renault_lifelight';
  src: url('../font/renault/renaultlife-light.eot');
  src: url('../font/renault/renaultlife-light.eot?#iefix') format('embedded-opentype'),
  url('../font/renault/renaultlife-light.woff') format('woff'),
  url('../font/renault/renaultlife-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'renault_liferegular';
  src: url('../font/renault/renaultlife-regular.eot');
  src: url('../font/renault/renaultlife-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/renault/renaultlife-regular.woff') format('woff'),
  url('../font/renault/renaultlife-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@import "plugins/fancybox";
@import "reset";
@import "variables";
@import "elements";
@import "mixins";

@import "styles/page-header";
@import "styles/page-header--project";
@import "styles/breadcrumbs";
@import "styles/page-title";

@import "styles/project-header";
@import "styles/project-descr";
@import "styles/project-tasks";

@import "styles/project-solutions";
@import "styles/solutions-tabs";
@import "styles/solutions-tab";
@import "styles/solutions-slider";

@import "styles/team-block";
@import "styles/team-list";

@import "styles/page-footer";
@import "styles/button-up";
