/* базовые установки цвета */
@color: #000;
@color-1e: #1e1e1e;
@color-33: #333;
@color-32: #212832;

@red: #e42116;
@red-025: #c0251d;
@red-037: #e03720;

@grey: #5c5c5c;
@grey-a4: #a4a4a4;
@grey-e2: #e2e2e2;
@grey-f0: #f0f0f0;
@white: #fff;

@text-color: @color;
@headings-color: @color;

@link-color: #0088CC;
@link-color--hover: darken(@link-color,15%);

@border-color: @color;
@border-color--hover: #3498DB;

/* базовые установки шрифта */
@html-size-base: 10px;
@font-size: 1.3rem;
@font-size--small: 1.1rem;

@line-height: 1.4;

@headings-weight: 600;
@headings-line-height: 1.2;

@font-size--h1: 5.5rem;
@font-size--h2: 3rem;
@font-size--h3: 2.5rem;
@font-size--h4: 2.1rem;
@font-size--h5: @font-size;
@font-size--h6: @font-size;

@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family--headings: @font-family;

@font-reg: "renault_liferegular", Helvetica, Arial, sans-serif;
@font-light: "renault_lifelight", Helvetica, Arial, sans-serif;
@font-bold: "renault_lifebold", Helvetica, Arial, sans-serif;

/* прочее */
@container: 1240px;
@container-lg: 1007px;
@container-md: 751px;
@container-xs: 320px;

@max-lg: 1239px;
@max-md: 1023px;
@max-xs: 766px;

@screen-lg: ~'(min-width: @{container-lg}) and (max-width: @{max-lg})';
@screen-md: ~'(min-width: @{container-md}) and (max-width: @{max-md})';
@screen-xs: ~'(min-width: @{container-xs}) and (max-width: @{max-xs})';