.branch-page {
  &__h2 {
    margin: 42px 0 45px;
    .font-family(@font-light);
    .font-size(3rem, 36px);
    color: @color-1e;
    .uppercase();

    @media @screen-xs {
      margin: 30px 0;
      .font-size(2.5rem,30px);
      .align-center();
    }
  }
    &__h2 span {
      display: block;
      .font-family(@font-bold);
    }
}