.contacts-page {
  &__inner {
    .container();
    padding-top: 53px;

    @media @screen-md {
      padding-top: 0;
    }
    @media @screen-xs {
      padding-top: 0;
    }
  }
  &__inner:after {
    .clear-after();
  }

    &__left {
      width: 600px;
      margin-right: 40px;
      padding-left: 86px;
      float: left;

      @media @screen-lg {
        width: 35%;
        margin-right: 20px;
        padding-left: 0;
      }
      @media @screen-md {
        width: 600px;
        margin: 0 auto 40px;
        float: none;
      }
      @media @screen-xs {
        width: 300px;
        margin: 0 auto 40px;
        padding: 0;
        float: none;
      }
    }

       &__item {
        display: block;
        width: 100%;
        .relative();
        margin-bottom: 37px;
        padding-left: 77px;
        padding-top: 6px;
        .font-family(@font-reg);
        .font-size(1.6rem, 24px);
        color: @color-33;

        @media @screen-lg {
          margin-right: 10px;
          padding-left: 65px;
        }
        @media @screen-md {
          margin-bottom: 15px;
        }
        @media @screen-xs {
          width: 100%;
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
        &__item span {
          display: block;
        }
      &__phone::before {
        display: inline-block;
        .bg-image("../img/spritesheet.png");
        .bg();
        background-position: -229px -149px;
        width: 59px;
        height: 59px;
        .absolute();
        .pos();
        content: '';
      }
      &__email::before, &__address::before {
        display: inline-block;
        .bg-image("../img/spritesheet.png");
        .bg();
        background-position: -170px -149px;
        width: 59px;
        height: 59px;
        .absolute();
        .pos();
        content: '';

        @media @screen-lg {
          top: 5px;
        }
      }
      &__email a {
        display: block;
        color: @color-33;
        .no-decor();
      }
      &__mail a:hover {
        .color-lighten(@color-33);
      }

      &__address {
        @media @screen-lg {
          padding-top: 0;
        }
      }

  &__right {
    width: 580px;
    float: right;

    @media @screen-md {
      margin: 0 auto;
      float: none;
    }
    @media @screen-xs {
      width: 300px;
      margin: 0 auto;
      float: none;
    }
  }
    &__feedback {
      max-width: 541px;
      padding: 0;

      @media @screen-md {
        margin: 0 auto;
      }
      @media @screen-xs {
        max-width: 300px;
        margin: 0 auto;
      }
    }
      &__feedback .form-feedback__submit-wrap {
        text-align: left;
      }
    &__feedback .form-feedback__input-wrap {
      @media @screen-xs {
        width: 300px;
        height: 35px;
      }
    }
    &__feedback .form-feedback__textarea-wrap {
      @media @screen-xs {
        width: 300px;
      }
    }

  &__map {
    .size(100%,477px);
    margin-top: 112px;

    @media @screen-lg {
      margin-top: 30px;
    }
    @media @screen-md {
      margin-top: 30px;
    }
    @media @screen-xs {
      height: 300px;
      margin-top: 20px;
    }
  }
}