.contacts-form {
  @media @screen-xs {
    width: 240px;
  }

  &__item {
    .size(262px, 44px);
    .relative();
    margin-bottom: 17px;
    border: 1px solid @grey-a4;

    @media @screen-xs {
      width: 240px;
    }
  }
    &__input {
      .size(100%, 100%);
      padding: 0 10px;
      border: none;
      .font-family(@font-reg);
      .font-size(1.3rem, 44px);
      color: @color-1e;
    }
    & .file-upload-wrapper {
      width: 262px;

      @media @screen-md {
        margin-top: -8px;
      }
      @media @screen-xs {
        width: 240px;
      }
    }
    & .file-upload-button {
      padding: 3px 0;
      border: none;
      background: none;
      .font-family(@font-reg);
      .font-size(1.4rem, 14px);
      color: @color-1e;
      text-decoration: underline;
      cursor: pointer;
      float: right;
    }
    & .file-upload-input {
      width: 50%;
      border: none;
      background: transparent;
      .font-family(@font-reg);
      .font-size(1.4rem, 14px);
      color: @color-1e;
      text-align: right;
    }

  &__submit, &__submit--empty {
    display: block;
    width: 132px;
    height: 35px;
    .bg-color(@red);
    margin: 19px auto 0;
    border: none;
    .rounded(3px);
    .font-family(@font-reg);
    .font-size(1.5rem, 34px);
    color: @white;
    .align-center();
    .uppercase();
    cursor: pointer;
    .transition();
  }
  &__submit {
    display: none;
  }
  &__submit:hover, &__submit--empty:hover {
    background-color: lighten(@red, 5%);
  }
}