.index-projects {
  margin-bottom: 88px;

  @media @screen-xs {
    margin-bottom: 50px;
  }

  &__inner {
    .container();
  }
  &__title {
    margin-bottom: 50px;
    .font-family(@font-bold);
    .font-size(2.5rem, 17px);
    color: @color-1e;
    .align-center();
    .uppercase();
    &__title span {
      .font-family(@font-light);
    }

    @media @screen-xs {
      line-height: 28px;
    }
  }
  &__title span {
    .font-family(@font-light);
  }
  &__select {
    display: block;
    width: 482px;
    height: 55px;
    .relative();
    margin: 0 auto 48px;
    padding-left: 20px;
    .border(2px, solid, #d2d2d2);
    .rounded(14px);
    box-shadow: 0px 0px 4px 4px rgba(210,210,210,0.7);
  }
  &__select + .sbHolder {
    width: 482px;
    height: 55px;
    .relative();
    margin: 0 auto 48px;
    padding-left: 20px;
    .border(2px, solid, #d2d2d2);
    .border-radius(14px, 14px, 14px, 14px);
    box-shadow: 0px 0px 4px 4px rgba(210,210,210,0.7);

    @media @screen-xs {
      width: 100%;
    }
  }
  &__select + .sbHolder .sbToggle {
    display: block;
    background-image: url(../img/spritesheet.png);
    background-position: -43px -58px;
    width: 21px;
    height: 14px;
    content: '';
    .absolute();
    top: 19px;
    right: 23px;
  }
  &__select + .sbHolder .sbSelector {
    .font-family(@font-bold);
    .font-size(1.3rem, 53px);
    color: @color-1e;
    .uppercase();
    .no-decor();
  }
  &__select + .sbHolder .sbOptions {
    .ul-reset();
    position: relative;
    margin-top: -5px;
    margin-left: -20px;
    padding: 10px 0 10px 20px;
    z-index: 1000;
    .border(2px, solid, #d2d2d2);
    .border-radius(14px, 14px, 14px, 14px);
    .bg-color(@white);
    box-shadow: 0px 0px 4px 4px rgba(210,210,210,0.7);
  }
  &__select + .sbHolder .sbOptions a {
    .font-family(@font-bold);
    .font-size(1.3rem, 24px);
    color: @color-1e;
    .uppercase();
    .no-decor();
    .transition();
  }
  &__select + .sbHolder .sbOptions a:hover {
    .color-lighten(@color-1e);
  }

    &__list {
      .ul-reset();

      @media @screen-lg {
        text-align: center;
      }
      @media @screen-md {
        text-align: center;
      }
    }

  &__inner .bx-controls {
    margin-top: 18px;
    .align-center();
  }
  &__inner .bx-pager-item {
    display: inline-block;
    margin: 0 5px;
  }
  &__inner .bx-pager-link {
    display: inline-block;
    width: 14px;
    height: 14px;
    //.bg-color(@red-025);
    .bg-image("../img/icon_slider-project-nav.png");
    .bg-color(transparent);
    background-position: center center;
    background-repeat: no-repeat;
    //padding: 3px;
    //.border-radius(8px, 8px, 8px, 8px);
    text-indent: -10000px;
    background-clip: content-box;
  }
  &__inner .bx-pager-link.active {
    .bg-image("../img/spritesheet.png");
    .bg-color(transparent);
    background-position: -232px -208px;
    background-clip: border-box;
  }
}

@import "index-project";