.main-menu {
  float: left;

  @media @screen-md {
    float: none;
    margin: 0 auto;
    clear: both;
  }
  @media @screen-xs {
    display: none;
  }

  &__list {
    .ul-reset();
    display: flex;
    max-width: 700px;
    align-items: center;
    align-content: center;
    justify-content: space-around;

    @media @screen-md {
      max-width: 100%;
      .relative();
      top: 10px;
      margin-bottom: 10px;
    }
    @media @screen-xs {
      display: block;
      width: 100%;
      .absolute();
      .pos(80px, 0);
      z-index: 1000;
      background: rgba(0, 0, 0, 0.8);
      padding: 10px;
      text-align: right;
    }
  }
    &__item {
      display: inline-block;
      margin-right: 10px;

      @media @screen-lg {
        margin-right: 0;
      }
      @media @screen-xs {
        display: block;
        margin: 0 0 5px;
      }
    }
    &__item:last-child {
      margin-right: 0;
    }
      &__link {
        display: inline-block;
        padding: 0 11px;
        .font-family(@font-bold);
        .font-size(1.2rem, 98px);
        color: @color-33;
        .no-decor();
        text-transform: uppercase;

        @media @screen-lg {
          padding: 0 6px;
        }
        @media @screen-md {
          line-height: 60px;
        }
        @media @screen-xs {
          font-size: 1.6rem;
          line-height: 30px;
          color: @white;
        }
      }
      &__link:hover, &__link--active {
        .bg(0 0, repeat-x);
        .bg-image('../img/bg_menu-item--active.gif');
        color: @red;
        .transition();

        @media @screen-xs {
          background: none;
        }
      }

    &__submenu {
      display: none;
      width: 283px;
      .absolute();
      top: 98px;
      padding: 25px 20px 12px;
      .bg-color(rgba(228,33,22,0.9));
      z-index: 1100;

      @media @screen-md {
        top: 60px;
      }
      @media @screen-xs {
        width: 185px;
        top: 20px;
        left: 0;
        padding: 12px 10px 10px;
      }
    }
    &__submenu::before {
      display: inline-block;
      .size(0,0);
      .absolute();
      top: -6px;
      left: 48px;
      content: '';
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent @red transparent;

      @media @screen-xs {
        display: none;
        /*left: auto;
        top: 3px;
        right: -6px;
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent @red;*/
      }
    }
      &__submenu-item {
        display: block;
        .relative();
        margin-bottom: 13px;
        padding-left: 21px;
        text-align: left;

        @media @screen-xs {
          padding-left: 0;
        }
      }
      &__submenu-item:hover::before {
        left: 5px;
      }
      &__submenu-item::before {
        display: block;
        .size(8px,12px);
        .absolute();
        .pos(2px,0);
        .bg();
        .bg-image("../img/spritesheet2.png");
        background-position: -86px -58px;
        content: '';
        .transition();

        @media @screen-xs {
          display: none;
        }
      }
        &__submenu-link {
          .font-family(@font-bold);
          .font-size(1.6rem, 16px);
          color: @white;
          .no-decor();
          .transition(0.5s);
        }
}

.is-stuck .main-menu__link {
  line-height: 60px;
}

.safari .main-menu__item {
  margin-right: 0;
}