.btn-link {
  display: inline-block;
  height: 56px;
  .relative();
  margin-right: 28px;
  padding: 0 71px 0 27px;
  background-color: transparent;
  border: 2px solid @white;
  .rounded(12px);
  .font-family(@font-bold);
  .font-size(1.3rem, 52px);
  color: @white;
  vertical-align: middle;
  .no-decor();
  .uppercase();
  .transition();

  @media @screen-lg {
    margin-right: 10px;
    padding: 0 60px 0 15px;
  }
  @media @screen-md {
    margin-right: 10px;
    padding: 0 60px 0 15px;
  }

    & span {
      display: block;
      .size(55px, 53px);
      .absolute();
      top: 0;
      right: 0;
      .bg();
      background-position: center center;
      .bg-image("../img/bg_open-btn--empty.png");
    }

  &:hover {
    background: linear-gradient(to right, @white 20%, @white 20%, @white 75%, transparent 70%);
    color: @color;
  }
    &:hover span {
      .bg-image("../img/bg_open-btn.png");
    }

  &--present {
    //.bg-color(@white);
    height: 53px;
    border: none;
    background: linear-gradient(to right, @white 20%, @white 20%, @white 81%, transparent 81%);
    background-position: 0 0;
    color: @color;
  }
    &--present span {
      .bg-image("../img/bg_open-btn.png");
      right: 0;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  &--present:hover {
    background-position: 0 -102%;
    background: transparent;
    color: @white;
  }
  &--present:hover span {
    .bg-image("../img/bg_open-btn--empty.png");
    border-color: @red;
  }
}

.safari .btn-link--present {
  //.bg-color(@white);
  height: 53px;
  border: 2px solid @white;
  background: none;
}
.safari .btn-link--present:hover {
  background: none;
  border: 2px solid @red;
  color: @color;
}
  .safari .btn-link--present span{
    .bg-image("../img/bg_open-btn--empty.png");
  }
  .safari .btn-link--present:hover span {
    .bg-image("../img/bg_open-btn--hover-empty.png");
  }
