.page-header {
  width: 100%;
  height: 98px;
  .bg-color(@white);
  .transition(0.4s);

  &.is-stuck {
    position: fixed;
    top: 0;
    z-index: 10100;
    height: 60px;
    border-bottom: 2px solid @grey-f0;
  }
    &.is-stuck &__logo {
      margin-top: 7px;
    }
    &.is-stuck &__logo--project {
      margin-top: 15px;

      @media @screen-xs {
        margin-top: 32px;
      }
    }
    &.is-stuck &__logo--project img{
      @media @screen-xs {
        max-width: 80%;
      }
    }
    &.is-stuck .main-menu {
      @media @screen-md {
        clear: none;
      }
    }
    &.is-stuck .main-menu__item {
      @media @screen-md {
        margin-right: 0;
      }
    }
    &.is-stuck .main-menu__list {
      @media @screen-md {
        top: 0;
      }
      @media @screen-xs {
        top: 60px;
      }
    }
    &.is-stuck .main-menu__link {
      @media @screen-xs {
        .font-size(1.6rem,30px);
      }
    }
    &.is-stuck &__contacts {
      margin-top: 5px;

      @media @screen-md {
        display: none;
      }
      @media @screen-xs {
        display: none;
      }
    }
      &.is-stuck &__feedback-link {
        margin-top: 6px;
      }
    &.is-stuck &__return {
      line-height: 60px;

      @media @screen-xs {
        line-height: 35px;
      }
    }
    &.is-stuck &__projects {
      top: 24px;
    }

  @media @screen-md {
    height: auto;
  }
  @media @screen-xs {
    height: auto;
  }

  &__inner {
    .container();
    .relative();
  }
  &__inner::after {
    display: block;
    width: 100%;
    content: '';
    clear: both;
  }

    &__logo {
      display: block;
      margin-top: 26px;
      margin-right: 107px;
      float: left;

      @media @screen-lg {
        margin-right: 44px;
      }
      @media @screen-md {
        margin-right: 15px;
      }
      @media @screen-xs {
        margin-top: 10px;
      }
    }
    &__logo--project {
      .size(117px,28px);
      margin: 32px 0 0 206px;

      @media @screen-md {
        margin: 14px 0 15px 150px;
      }
      @media @screen-xs {
        margin: 40px 0 0 3px;
      }
    }
    &__logo--project img {
      max-width: 100%;
      height: auto;
    }

    &__contacts {
      .size(258px);
      margin-top: 22px;
      .align-center;
      float: right;

      @media @screen-md {
        .absolute();
        top: 0;
        right: 0;
      }
      @media @screen-xs {
        float: none;
        .clear();
        .relative();
        top: 22px;
        margin: 0 auto 44px;
      }
    }
      &__phone a{
        .font-family(@font-light);
        .font-size(2.9rem, 24px);
        color: #afafaf;
        .no-decor();
      }
      &__phone span {
        display: inline-block;
        margin-left: 8px;
        .font-family(@font-bold);
        color: @color-1e;
      }

      &__feedback-link::before {
        display: inline-block;
        .bg-image("../img/spritesheet.png");
        background-position: -64px -58px;
        width: 14px;
        height: 14px;
        content: '';
        position: relative;
        top: 2px;
        margin-right: 14px;
      }
      &__feedback-link {
        display: inline-block;
        margin-top: 10px;
        .font-family(@font-bold);
        .font-size(1.4rem);
        color: @color-33;
        .no-decor();
        .transition();
      }
      &__feedback-link:hover {
        .color-lighten(@color-33);
        font-size: 1.5rem;

        @media @screen-lg {
          font-size: 1.4rem;
        }
        @media @screen-md {
          font-size: 1.4rem;
        }
        @media @screen-xs {
          font-size: 1.4rem;
        }
      }

    &__menu-btn {
      display: none;
      .size(40px, 30px);
      content: '';
      .absolute();
      top: 26px;
      right: 10px;
      background-image: linear-gradient(red 20%, white 20%, white 40%, red 40%, red 60%, red 60%, white 60%, white 80%, red 80%, red 100%);

      @media @screen-xs {
        display: block;
        top: 13px;
      }
    }

    &__return {
      display: block;
      .absolute();
      .pos();
      .font-family(@font-bold);
      .font-size(1.3rem, 99px);
      color: @color-1e;
      .uppercase();
      .transition();
      .no-decor();

      @media @screen-md {
        line-height: 60px;
      }
      @media @screen-xs {
        line-height: 40px;
      }
    }
    &__return:hover {
      .color-lighten(@color-1e);
    }
    &__return::before {
      display: inline-block;
      .size(14px,21px);
      background-image: url(../img/spritesheet2.png);
      background-position: -240px -253px;
      .relative();
      top: 6px;
      margin-right: 22px;
      content: '';

      @media @screen-xs {
        left: 10px;
      }
    }

    &__projects {
      .absolute();
      .pos(43px,48%);
      .uppercase();

      @media @screen-md {
        .pos(22px,42%);
      }
      @media @screen-xs {
        top: 13px;
      }
    }
    &__projects-title {
      display: inline-block;
      margin-right: 4px;
      .font-family(@font-light);
      .font-size(1.3rem, 13px);
      color: #a1a1a1;
      vertical-align: top;
    }
    &__projects-active {
      display: inline-block;
      .relative();
      padding-right: 38px;
      .font-family(@font-bold);
      .font-size(1.3rem, 13px);
      color: @color-1e;
      cursor: pointer;
      vertical-align: top;
    }
    &__projects-active::after {
      display: inline-block;
      .size(21px,14px);
      .absolute();
      top: -1px;
      right: 0;
      background-image: url(../img/spritesheet2.png);
      background-position: -269px -208px;
      content: '';
    }

    &__projects-list {
      width: 140px;
      .ul-reset();
      display: none;
      .absolute();
      .pos(22px,0);
      .bg-color(lighten(#a1a1a1, 30%));
      padding: 20px;
      z-index: 1000;
    }
    &__projects-item {
      display: block;
      margin-bottom: 10px;
    }
    &__projects-item a{
      .font-family(@font-reg);
      .font-size(1.3rem, 13px);
      color: @color-1e;
      .no-decor();
      .transition();
    }
    &__projects-item a:hover {
      color: @grey;
    }
}