.personal-tabs {
  display: block;
  .ul-reset();
  margin: 0 auto 37px;
  .align-center();

  &__item {
    display: inline-block;
    margin-right: 43px;
    margin-bottom: 21px;
    vertical-align: top;

    @media @screen-xs {
      display: block;
      margin: 0 auto 15px;
    }
  }
  &__item:last-child {
    margin-right: 0;

    @media @screen-xs {
      margin: 0 auto;
    }
  }

  &__link {
    display: inline-block;
    border-bottom: 1px dotted @color-1e;
    .font-family(@font-reg);
    .font-size(1.5rem, 15px);
    color: @color-1e;
    .no-decor();
    .uppercase();
    vertical-align: top;
    .transition();
  }
  &__link:hover, &__link.active {
    font-size: 1.6rem;
    color: @red;
    border: none;

    @media @screen-lg {
      font-size: 1.5rem;
    }
    @media @screen-md {
      font-size: 1.5rem;
    }
    @media @screen-xs {
      font-size: 1.5rem;
    }
  }
}