.price-inner {
  display: none;
  border: 1px dashed #848586;
  .rounded(8px);
  margin-top: 31px;
  text-align: left;

  &--active {
    display: block;
  }

    &__title {
      .size(509px, 234px);
      .bg-color(@white);
      .relative();
      .pos();
      float: left;
      margin-right: 105px;
      padding: 69px 0 0 40px;
      border-top-left-radius: 8px;
      .font-family(@font-reg);
      .font-size(3rem, 37px);
      color: @color-1e;
      .uppercase();

      @media @screen-lg {
        width: 450px;
        padding-top: 40px;
      }
      @media @screen-md {
        float: none;
      }
      @media @screen-xs {
        width: 100%;
        height: auto;
        margin: 0 0 40px;
        padding: 20px;
        .font-size(2rem, 26px);
      }
    }
    &__title::after {
      display: inline-block;
      .size(84px, 234px);
      .absolute();
      top: 0;
      right: -84px;
      border-style: solid;
      border-width: 117px 0 117px 84px;
      border-color: transparent transparent transparent @white;
      content: '';

      @media @screen-xs {
        .size(100%,20px);
        top: auto;
        bottom: -19px;
        right: 0;
        border-width: 20px 150px 0 150px;
        border-color:  @white transparent transparent transparent;
      }
    }

    &__descr {
      margin-top: 53px;
      float: left;

      @media @screen-lg {
        max-width: 40%;
        margin-top: 32px;
      }
      @media @screen-md {
        float: none;
        margin: 32px 0 25px 10px;
        .clear();
      }
      @media @screen-xs {
        float: none;
        margin: 32px 0 25px 10px;
        .clear();
      }
    }
      &__list {
        .ul-reset();

        @media @screen-xs {
          padding-right: 10px;
        }
      }
        &__list-item {
          margin-bottom: 14px;
          .font-family(@font-reg);
          .font-size(1.4rem, 14px);
          color: @color-1e;

          @media @screen-lg {
            padding-left: 37px;
          }
          @media @screen-xs {
            padding-left: 30px;
          }
        }
        &__list-item::before {
          display: inline-block;
          .size(22px, 17px);
          .relative();
          top: 3px;
          margin-right: 18px;
          background-image: url(../img/spritesheet.png);
          background-position: -21px -58px;
          content: '';

          @media @screen-lg {
            left: -37px;
            margin-right: -22px;
          }
          @media @screen-xs {
            left: -30px;
            margin-right: -22px;
          }
        }

      &__download {
        display: block;
        margin-top: 20px;
        .font-family(@font-reg);
        .font-size(1.4rem, 32px);
        color: @color-1e;
        .transition();
      }
      &__download::before {
        display: inline-block;
        .size(22px, 26px);
        .relative();
        top: 4px;
        margin-right: 17px;
        background-image: url(../img/spritesheet.png);
        background-position: 0 -58px;
        content: '';
        vertical-align: top;
      }
      &__download:hover {
        .color-lighten(@color-1e);
      }

    &__total {
      .size(100%, 105px);
      .clear();
      background: url(../img/bg_price-block.jpg), url(../img/bg_pattern.png);
      padding: 0 20px 0 48px;

      @media @screen-lg {
        padding: 0 20px;
      }
      @media @screen-md {
        padding: 0 10px;
        border-bottom-right-radius: 8px;
      }
      @media @screen-xs {
        float: none;
        height: auto;
        margin: 32px 0 0;
        padding: 0;
        background: none;
        .bg-color(#262e3c);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .clear();
      }
    }
      &__sum {
        display: inline-block;
        margin: 0 66px 0 0;
        .font-family(@font-light);
        .font-size(1.8rem, 105px);
        color: @white;
        .uppercase();
        vertical-align: top;

        @media @screen-lg {
          margin-right: 35px;
        }
        @media @screen-md {
          margin: 0 15%;
          line-height: 35px;
        }
        @media @screen-xs {
          display: block;
          margin: 0;
          line-height: 35px;
          .align-center();
        }
      }
        &__sum span {
          .font-family(@font-bold);
          font-size: 3rem;

          @media @screen-lg {
            font-size: 2rem;
          }
          @media @screen-md {
            font-size: 2rem;
          }
          @media @screen-xs {
            font-size: 2rem;
          }
        }
      &__time {
        display: inline-block;
        margin: 0;
        .font-family(@font-light);
        .font-size(1.8rem, 105px);
        color: @white;
        .uppercase();
        vertical-align: top;

        @media @screen-md {
          line-height: 35px;
        }
        @media @screen-xs {
          display: block;
          line-height: 35px;
          .align-center();
        }
      }
        &__time span {
          .font-family(@font-bold);
          font-size: 3rem;

          @media @screen-lg {
            font-size: 2rem;
          }
          @media @screen-md {
            font-size: 2rem;
          }
          @media @screen-xs {
            font-size: 2rem;
          }
        }
      &__buttons {
        margin-top: 26px;
        float: right;

        @media @screen-md {
          float: none;
          margin: 0 auto;
          .align-center();
        }
        @media @screen-xs {
          float: none;
          margin: 0 auto;
          .align-center();
        }
      }
        &__buttons .btn-link {
          @media @screen-xs {
            margin: 0 auto 10px;
          }
        }
        &__buttons .btn-link--demo {
          @media @screen-lg {
            margin-right: 0;
          }
        }
        &__buttons .btn-link--present:hover {
          background: linear-gradient(to right, @red 20%, @red 20%, @red 80%, transparent 70%);
          border-color: @red;
          color: @white;
        }
        &__buttons .btn-link--present:hover span {
          .bg-image("../img/bg_open-btn--hover-red.png");
        }
        &__buttons .btn-link--demo:hover {
          border-color: @red;
          background: transparent;
          color: @white;
        }
        &__buttons .btn-link--demo:hover span {
          .bg-image("../img/bg_open-btn--hover-empty.png");
        }
}
