.project-solutions {
  width: 100%;

  &__inner {
    .container();
    width: 999px;
  }
    &__title {
      margin-bottom: 60px;
      .font-family(@font-bold);
      .font-size(3rem,30px);
      color: @color-1e;
      .uppercase();
      .align-center();
    }
}