.project {
  max-width: 477px;
  .relative();
  margin: 0 74px 0 64px;
  .align-center();
  float: left;

  @media @screen-lg {
    max-width: 47%;
    margin: 0 14px;
  }
  @media @screen-md {
    max-width: 47%;
    margin: 0 12px;
  }
  @media @screen-xs {
    width: 100%;
    margin: 0 0 15px;
  }

  &:last-child {
    margin: 0 64px 0 74px;

    @media @screen-lg {
      margin: 0 10px;
    }
    @media @screen-md {
      margin: 0 10px;
    }
    @media @screen-xs {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
    .no-decor();
    .transition();
  }
  &__link:hover {
    opacity: 0.7;
  }
    &__pic {
      .size(477px, 256px);

      @media @screen-lg {
        width: 100%;
        height: auto;
      }
      @media @screen-md {
        width: 100%;
        height: auto;
      }
      @media @screen-xs {
        width: 100%;
        max-width: 300px;
        height: auto;
      }
    }

    &__name {
      margin-bottom: 21px;
      padding: 0 100px;
      .font-family(@font-bold);
      .font-size(2rem, 30px);
      color: @color-1e;
      .uppercase();

      @media @screen-md {
        padding: 0 30px;
      }
      @media @screen-xs {
        padding: 0 20px;
      }
    }
}