.scopes-tab {
  display: none;
  min-height: 418px;
  .container();
  .relative();
  margin-bottom: 62px;
  float: left;

  @media @screen-xs {
    min-height: auto;
    margin-bottom: 40px;
  }

  &--active {
    display: block;
  }

  &__list {
    width: 526px;
    .relative();
    z-index: 20;
    float: left;

    @media @screen-lg {
      width: 500px;
    }
    @media @screen-xs {
      width: 100%;
    }
  }

    &__item {
      min-height: 58px;
      .relative();
      margin-bottom: 25px;
      padding: 0 49px 0 100px;
      .transition();
      background-position: right top;
      cursor: default;

      @media @screen-xs {
        padding: 0 10px 0 0;
      }
    }
    &__item::before {
      display: block;
      width: 53px;
      height: 54px;
      border: 1px dotted #9a9a9a;
      .rounded(5px);
      .bg();
      .bg-image("../img/icon_list-bullet.png");
      background-position: center center;
      .absolute();
      .pos(0,17px);
      content: '';

      @media @screen-xs {
        display: none;
      }
    }
    /*&__item:hover, &__item--active {
      .bg-image("../img/icon_capability--active.png");
      background-position: right 80%;
      background-repeat: no-repeat;
    }*/
      &__title {
        margin-bottom: 11px;
        .font-family(@font-reg);
        .font-size(1.8rem, 18px);
        color: @color-1e;
        .uppercase();
      }
      &__descr {
        max-width: 380px;
        .font-family(@font-reg);
        .font-size(1.4rem, 18px);
        color: @color-33;
        .opacity();
        .transition();
      }
      &__item:hover &__descr, &__item--active &__descr {
        .opacity(1);
        font-size: 1.5rem;
      }

    &__pic {
      .size(1076px,676px);
      //box-shadow: 0 0 65px 18px #ccc;
      .absolute();
      top: -135px;
      right: -255px;
      z-index: 10;
      background-position: center center;
      background-repeat: no-repeat;
      .bg-image("../img/scopes-foto.jpg");

      @media @screen-lg {
        right: -370px;
      }
      @media @screen-md {
        .size(244px,244px);
        top: 20%;
        right: 10px;
        .rounded(244px);
        background: none;
        .bg-color(rgba(255,255,255,0.5));
        box-shadow: 0 0 10px 3px #a4a4a4;
      }
      @media @screen-xs {
        display: none;
      }
    }
      &__pic-inner {
        .size(774px,418px);
        .absolute();
        top: 96px;
        right: 137px;
        overflow: hidden;

        @media @screen-md {
          .size(130px,87px);
          .pos(50%,50%);
          margin: -44px 0 0 -65px;
        }
      }
        &__pic-inner img {
          .absolute();
          .pos(200px,255px);

          @media @screen-md {
            .relative();
            .pos();
          }
        }
}