.scopes-call {
  width: 100%;
  height: 157px;
  .clear();
  .relative();
  z-index: 40;
  .bg();
  .bg-image("../img/bg_capability-bottom.jpg");
  background-position: center 0;

  @media @screen-xs {
    height: auto;
    background: none;
    .bg-color(#262e3c);
  }

  &__inner {
    .container();
    .relative();
  }

    &__title {
      max-width: 725px;
      .relative();
      top: 40px;
      .font-family(@font-bold);
      .font-size(4rem, 40px);
      color: @white;

      @media @screen-lg {
        max-width: 450px;
        font-size: 2.5rem;
      }
      @media @screen-md {
        max-width: 300px;
        top: 32px;
        .font-size(2rem, 30px);
      }
      @media @screen-xs {
        max-width: 100%;
        top: 0;
        margin: 20px 0 20px;
        .font-size(2rem, 30px);
        .align-center();
      }
    }
      &__title span {
        .font-family(@font-light);
      }
    &__note {
      padding: 16px 32px;
      .bg-color(@red);
      .bg-image("../img/bg_pattern.png");
      .absolute();
      top: -36px;
      right: 0;
      .font-family(@font-light);
      .font-size(1.8rem, 24px);
      color: @white;
      .uppercase();

      @media @screen-md {
        padding: 16px 22px;
        font-size: 1.6rem;
      }
      @media @screen-xs {
        .relative();
        .pos(0, 0);
        margin-bottom: 20px;
        padding: 10px;
        font-size: 1.6rem;
        .align-center();
      }
    }
    &__buttons {
      .absolute();
      top: 73px;
      right: 0;

      @media @screen-lg {
        right: 5px;
      }
      @media @screen-xs {
        .relative();
        .pos();
        .align-center();
      }
    }
      &__buttons .btn-link {
        @media @screen-xs {
          margin: 0 auto 15px;
        }
      }
      &__buttons .btn-link--present {
        @media @screen-lg {
          margin-right: 20px;
        }
      }
      &__buttons .btn-link--demo {
        margin-right: 0;
      }
      &__buttons .btn-link--present:hover {
        background: linear-gradient(to right, @red 20%, @red 20%, @red 80%, transparent 70%);
        border-color: @red;
        color: @white;
      }
      &__buttons .btn-link--present:hover span {
        .bg-image("../img/bg_open-btn--hover-red.png");
      }
      &__buttons .btn-link--demo:hover {
        border-color: @red;
        background: transparent;
        color: @white;
      }
      &__buttons .btn-link--demo:hover span {
        .bg-image("../img/bg_open-btn--hover-empty.png");
      }
}