.top-clients {
  .container();
  padding: 0 0 0 68px;
  line-height: 79px;

  @media @screen-xs {
    line-height: 30px;
    .align-center();
  }

  &__title {
    display: inline-block;
    margin-right: 40px;
    .font-family(@font-light);
    .font-size(2.3rem, 79px);
    color: #757575;
    .uppercase();
    vertical-align: middle;

    @media @screen-lg {
      margin-right: 40px;
    }
    @media @screen-md {
      margin-right: 20px;
    }
    @media @screen-xs {
      display: block;
      width: 100%;
      margin: 0 auto 4px;
      .font-size(1.6rem, 22px);
      .align-center();
    }
  }

    &__list {
      display: inline-block;
      .ul-reset();
      vertical-align: top;
    }
      &__item {
        display: inline-block;
        height: 79px;
        padding: 0 16px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        line-height: 79px;
        .transition(0.4);
        cursor: pointer;

        @media @screen-lg {
          margin-right: 25px;
        }
        @media @screen-md {
          margin-right: 12px;
        }
        @media @screen-xs {
          height: auto;
          margin-right: 10px;
          line-height: 30px;
        }
      }
      &__item:hover {
        border-left: 1px dotted @white;
        border-right: 1px dotted @white;
      }
      &__link img {
        max-height: 44px;
        vertical-align: middle;

        @media @screen-lg {
          max-width: 120px;
        }
        @media @screen-md {
          max-width: 90px;
        }
        @media @screen-xs {
          max-width: 90px;
        }
      }
}