doctype html
html(lang='ru')
    include views/includes/header
    body
        include views/includes/page-header
        include views/includes/breadcrumbs
        include views/includes/common-title
        include views/function

        include views/includes/contacts-page

        include views/includes/footer