doctype html
html(lang='ru')
    include views/includes/header
    body
       include views/includes/page-header
       include views/function
       include views/includes/top-slider
       include views/includes/advantages
       include views/includes/scopes
       include views/includes/personal
       include views/includes/index-projects
       include views/includes/price-block
       include views/includes/index-about
       include views/includes/team-block
       include views/includes/contacts
       include views/includes/footer