doctype html
html(lang='ru')
    include views/includes/header
    body
       include views/includes/page-header
       include views/function
       include views/includes/top-slider
       include views/includes/index-about
       include views/includes/index-products
       include views/includes/index-projects
       include views/includes/footer