doctype html
html(lang='ru')
    include views/includes/header
    body
        include views/includes/page-header
        include views/includes/breadcrumbs
        include views/includes/common-title
        include views/function

        .page-content
            .page-content__inner
                include views/includes/sidebar
                .content-block
                    include views/includes/job-page

        include views/includes/footer