doctype html
html(lang='ru')
    include views/includes/header
    body
        include views/includes/page-header
        include views/includes/breadcrumbs
        include views/includes/common-title
        include views/function

        .page-content
            .page-content__inner
                include views/includes/sidebar
                .content-block
                    .news-list
                        .news-list__item-date 02. 08. 2015
                        p 2015 год стал одним из самых успешных для компании! Бизнес WSS-Consulting вырос на 60% по сравнению с 2014 годом. Компания за год реализовала более 100 проектов. Это внедрение системы электронного документооборота WSS Docs а также корпоративного портала WSS Portal.
                        p Среди проектов внедрения WSS Docs можем отметить проекты: Объединенная Металлургическая Компания, Фосагро, Такеда Фармасьютикалс, Альфа-Банк, Объединенная Судостроительная Корпорация, Московская Биржа, Еврофинанс Банк, Альянс Жизнь, МОБТИ, Роснано, Спецстрой России и многие другие.
                        p Компания также реализовала несколько десятков проектов разработки корпоративных порталов. Наиболее интересные проекты: Евроцемент Груп, Mareven food, Альфа-Страхование, TOGAS, Роснано, Вымпелком и многие другие. В 2015 году выпущена новая версия WSS Docs с полностью переработанной архитектурой ядра системы. Новая архитектура позволяет хранить десятки терабайт данных, обрабатывать до 50 тыс. новых документов в день, обслуживать до 100 тыс. пользователей.
                        p Также выпущена обновленная версия WSS Portal, в которой получили развитие социальные сервисы, упрощен интерфейс внесения контента в портал, изменен стартовый дизайн.
                        p Компания WSS-Consulting за последние 2 года стала безусловным лидером рынка решений на платформе SharePoint. Наша цель на ближайшие два года – стать лидером всего рынка электронного документооборота, а также лидером рынка разработки корпоративных порталов.

        include views/includes/footer