doctype html
html(lang='ru')
    include views/includes/header
    body
        include views/includes/page-header
        include views/function

        include views/includes/breadcrumbs
        include views/includes/project-title

        include views/includes/project-header
        include views/includes/project-descr
        include views/includes/project-tasks
        include views/includes/project-solutions
        include views/includes/team-block

        include views/includes/footer