.about-icons
    .about-icons__icon
        .about-icons__pic
            img(src="img/icon_about-1.png", alt="")
        .about-icons__title 200
        .about-icons__text Успешных проектов

    .about-icons__icon
        .about-icons__pic
            img(src="img/icon_about-2.png", alt="")
        .about-icons__title 10 Лет
        .about-icons__text Опыт работы

    .about-icons__icon
        .about-icons__pic
            img(src="img/icon_about-3.png", alt="")
        .about-icons__title 45
        .about-icons__text специалистов в штате