.about-advantages
    h3.content-block__h3 Преимущества работы с нашей компанией:

    ul.about-advantages__list
        li.about-advantages__list-item Сильная эспертиза по платформе SharePoint
        li.about-advantages__list-item Большая команда программистов, аналитиков и инженеров, специализирующихся на данной платформе
        li.about-advantages__list-item Наличие готовых решений и продуктов
        li.about-advantages__list-item Конкурентоспособная стоимость продуктов и услуг
        li.about-advantages__list-item Экспертиза в предметных областях: документооборот, корпоративные порталы
        li.about-advantages__list-item Отлаженная методология, гарантирующая высокое качество продуктов и услуг

    .about-advantages__pic
        img(src="img/about-cert.jpg",alt="")