div(class="advantages-tab advantages-tab--active", id="adv-tab1")
    .advantages-tab__item
        img(class="advantages-tab__icon", src="img/icon_wallet.png", alt="")
        img(class="advantages-tab__icon--hover", src="img/icon_wallet--hover.png", alt="")
        .advantages-tab__descr
            .advantages-tab__title Единое информационное и коммуникационное пространство
            .advantages-tab__text Вся информационная инфраструктура компании в едином интранет портале корпоративных систем.

    .advantages-tab__item
        img(class="advantages-tab__icon", src="img/icon_wallet.png", alt="")
        img(class="advantages-tab__icon--hover", src="img/icon_wallet--hover.png", alt="")
        .advantages-tab__descr
            .advantages-tab__title Снижение затрат компании
            .advantages-tab__text Благодаря централизации и унификации доступа сотрудников к информационным службам предприятия, легкости сопровождения и модернизации


    .advantages-tab__item.advantages-tab__item--last-left
        img(class="advantages-tab__icon", src="img/icon_wallet.png", alt="")
        img(class="advantages-tab__icon--hover", src="img/icon_wallet--hover.png", alt="")
        .advantages-tab__descr
            .advantages-tab__title Единая база знаний
            .advantages-tab__text Сокращение времени на поиск информации. Формирование в сети единой базы знаний компании, создание электронного архива документовпше

div(class="advantages-tab", id="adv-tab2")
    .advantages-tab__item
        img(class="advantages-tab__icon", src="img/icon_wallet.png", alt="")
        img(class="advantages-tab__icon--hover", src="img/icon_wallet--hover.png", alt="")
        .advantages-tab__descr
            .advantages-tab__title Единое информационное и коммуникационное пространство
            .advantages-tab__text Вся информационная инфраструктура компании в едином интранет портале корпоративных систем.

    .advantages-tab__item
        img(class="advantages-tab__icon", src="img/icon_wallet.png", alt="")
        img(class="advantages-tab__icon--hover", src="img/icon_wallet--hover.png", alt="")
        .advantages-tab__descr
            .advantages-tab__title Снижение затрат компании
            .advantages-tab__text Благодаря централизации и унификации доступа сотрудников к информационным службам предприятия, легкости сопровождения и модернизации
