section.advantages#advantages-block
    .advantages__top
        .advantages__top-inner
            .advantages__title  <span>wss portal</span> - 10 лет  опыта разработки и внедрения корпоративных порталов, охватывающих от 50 до 25.000 пользователей
            .advantages__sub-title Сочетание широких функциональных возможностей и высокой производительности

            include advantages-tabs

    .advantages__bot
        .advantages__bot-inner
            include advantages-tab
