ul.advantages-tabs
    li.advantages-tabs__item
        a(class="advantages-tabs__title advantages-tabs__title--active", href="#adv-tab1") Информационный ресурс
            img(class="advantages-tabs__icon", src="img/icon_plus-1.png")
    li.advantages-tabs__item
        a(class="advantages-tabs__title", href="#adv-tab2") Совместная работа
            img(class="advantages-tabs__icon", src="img/icon_plus-2.png")
    li.advantages-tabs__item
        a(class="advantages-tabs__title", href="#adv-tab3") Сервисы иинтеграция
            img(class="advantages-tabs__icon", src="img/icon_plus-3.png")
    li.advantages-tabs__item
        a(class="advantages-tabs__title", href="#adv-tab4") Социальная сеть
            img(class="advantages-tabs__icon", src="img/icon_plus-4.png")