ul.advantages-tabs
    li.advantages-tabs__item
        a(class="advantages-tabs__title advantages-tabs__title--active", href="#adv-tab1")
            img(class="advantages-tabs__icon", src="img/icon_plus-1.png")
            span Информационный ресурс
    li.advantages-tabs__item
        a(class="advantages-tabs__title", href="#adv-tab2")
            img(class="advantages-tabs__icon", src="img/icon_plus-2.png")
            span Совместная<br> работа
    li.advantages-tabs__item
        a(class="advantages-tabs__title", href="#adv-tab3")
            img(class="advantages-tabs__icon", src="img/icon_plus-3.png")
            span Сервисы иинтеграция
    li.advantages-tabs__item
        a(class="advantages-tabs__title", href="#adv-tab4")
            img(class="advantages-tabs__icon", src="img/icon_plus-4.png")
            span Социальная<br> сеть