.branches
    .branches__inner
        .branches__descr Если Ваша компания работает в одной из этих отраслей, Вы можете использовать опыт наших клиентов по работе с системой электронного документа, деятельность которых максимально близка к Вашей.

        .branches__list
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto1.jpg", alt="")
                    .branches__item-name Банки и финансовые организации
            .branches__item
                a.branches__item-link(href="#")
                    .branches__item-pic
                        img(src="img/branch-foto2.jpg", alt="")
                    .branches__item-name Фармацевтические компании
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto3.jpg", alt="")
                    .branches__item-name Транспорт и логистика
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto4.jpg", alt="")
                    .branches__item-name Телекоммуникационные компании
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto5.jpg", alt="")
                    .branches__item-name Топливно-энергетические компании
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto6.jpg", alt="")
                    .branches__item-name Строительный комплекс
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto7.jpg", alt="")
                    .branches__name Медиа компании
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto8.jpg", alt="")
                    .branches__item-name Ритейл и дистрибуция
            .branches__item
                a.branches__item-link(href="#")
                    img.branches__item-pic(src="img/branch-foto9.jpg", alt="")
                    .branches__item-name Производство товаров народного потребления
