.branch-page
    p Топливно-энергетический комплекс России является одним из крупнейших в мире производителей, потребителей и экспортеров энергетических ресурсов. Российские компании осуществляют проекты на территории различных стран, что накладывает определенные сложности управления и взаимодействия в территориально - распределенных структурах. Серьезная мировая конкуренция требует использования последних достижений науки и техники для создания конкурентных преимуществ.
    p Вопрос эффективности управления потоками информации в наше время как никогда актуален. Наша компания предлагает ИТ-решения, которые позволяют увеличить эффективность работы компании и автоматизировать процесс делопроизводства. Среди наших клиентов отрасли такие компании, как: ОГК-3, Северсталь, СУЭК, Энергостройинвест-Холдинг, Газпром, Татнефть, Руснефть, ИЦ Энерго.

    h2.branch-page__h2 <span>Проекты</span> в данной отрасли
    include projects-block-branch

    h2.branch-page__h2 <span>популярные решения</span> используемые в данной отрасли
    include solutions-branch