.breadcrumbs
    .breadcrumbs__inner
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link Главная
                span.breadcrumbs__current заголовок страницы