.contacts-page
    .contacts-page__inner
        .contacts-page__left
            .contacts-page__item.contacts-page__phone
                span Телефон:
                span +1 8 (800) 399 40 08

            .contacts-page__item.contacts-page__email
                span E-mail:
                a(href="mailto:") info@wss-consulting.com

            .contacts-page__item.contacts-page__address
                span Адрес:
                span 1 Hacker way. Melano park 8 ca 980828 USA

        .contacts-page__right
            include form

    .contacts-page__map#contacts-page__map(data-longitude="55.868237" data-latitude="37.516563" data-marker-longitude="55.868237" data-marker-latitude="37.516563" data-marker="img/icon_map-baloon.png")