.contacts
    .contacts__map#contacts-map(data-longitude="55.868237" data-latitude="37.516563" data-marker-longitude="55.868237" data-marker-latitude="37.516563" data-marker="img/icon_map-baloon.png")

    .contacts__inner
        .contacts__wrap
            .contacts__left
                .contacts__title Контакты

                .contacts__list
                    .contacts__list-item <label>Телефон:</label> <span>+ 1 (800) 888 88 88</span>
                    .contacts__list-item <label>E-mail:</label> <a href="mailto:info@wss-consulting.com">info@wss-consulting.com</a>
                    .contacts__list-item <label>Наш адрес:</label> <span>1 Hacker way. Melano park 8 <br> ca 980828  USA</span>

            .contacts__right
                .contacts__title Обратная связь

                include contacts-form