footer.page-footer
    .page-footer__top
        .page-footer__top-inner
            .page-footer__contacts
                .page-footer__phone Позвонить нам: <br> + 1 8 (800) 399 40 08
                .page-footer__mail Написать  нам:
                    a(href="mailto:info@wss-consulting.com") info@wss-consulting.com

            section.footer-news
                h3.footer-news__title новости
                .footer-news__list
                    .footer-news__item
                        .footer-news__date 02.08.2015
                        a.footer-news__link(href="#") Возможный заголовок большой заголовок текущей новости 2015 года
                    .footer-news__item
                        .footer-news__date 02.08.2015
                        a.footer-news__link(href="#") Возможный заголовок большой заголовок текущей новости 2015 года
                a.footer-news__more-link Все новости

    .page-footer__bottom
        .page-footer__bottom-inner
            include footer-menu
            .page-footer__copyright &copy; 2016 All rights reserved

script(src='js/jquery-1.10.1.min.js')
script(src='js/scripts.min.js')
script(src='js/custom.js')