footer.page-footer.page-footer--inner-page
    .page-footer__inner
        .page-footer__copyright &copy; 2016 All rights reserved

.button-up
    a

script(src='js/jquery-1.10.1.min.js')
script(src='js/scripts.min.js')
script(src='js/custom.js')
