footer.page-footer
    .page-footer__inner
        .page-footer__copyright &copy; 2016 All rights reserved

.button-up.button-up--project
    a

script(src='js/jquery-1.10.1.min.js')
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyChRahoZ26J2X332Od9vup483itc0dNjZo")
script(src='js/scripts.min.js')
script(src='js/custom.js')
