section.footer-news
    h3.footer-news__title новости
    .footer-news__list
        .footer-news__item
            .footer-news__date 02.08.2015
            a.footer-news__link(href="#") Возможный заголовок большой заголовок текущей новости 2015 года
        .footer-news__item
            .footer-news__date 02.08.2015
            a.footer-news__link(href="#") Возможный заголовок большой заголовок текущей новости 2015 года
    a.footer-news__more-link Все новости