div.form
	form
		label.form__label Имя
		input(type='text').form__input_text
		
		label.form__label E-mail
		input(type='text').form__input_text
		
		label.form__label Телефон
		input(type='text',placeholder='+7(---) --- -- --').form__input_text
		
		label.form__label Сообщение
		textarea.form__textarea
		
		input(type='submit',value='Отправить').form__input_submit.button