.index-about
    .index-about__top
        .index-about__top-inner
            img(class="index-about__cert", src="img/about-cert.jpg", alt="", title="")
            section.index-services
                h2.index-services__title Услуги
                .index-services__descr WSS-Consulting выполняет проекты по внедрению
                                       | SharePoint с 2006 года. В компании работают профессионалы в области управления IT проектами, внедрения корпоративных систем Microsoft и программирования на платформе Microsoft.Net, являющиеся сертифицированными  специалистами по направлениям SharePoint,
                                       | SQL Server, Microsoft.Net.
                +list('index-services__list', 'index-services__item', 'index-services__link', 'IT консалтинг', 'Сопровождение и техническая поддержка', 'Разработка на SharePoint', 'Разработка продуктов')

    .index-about__bot
        .index-about__bot-inner
            .about-icons
                .about-icons__icon
                    .about-icons__pic
                        img(src="img/icon_about-1.png", alt="")
                    .about-icons__title 200
                    .about-icons__text Успешных проектов

                .about-icons__icon
                    .about-icons__pic
                        img(src="img/icon_about-2.png", alt="")
                    .about-icons__title 10 Лет
                    .about-icons__text Опыт работы

                .about-icons__icon
                    .about-icons__pic
                        img(src="img/icon_about-3.png", alt="")
                    .about-icons__title 45
                    .about-icons__text специалистов в штате