section.index-services
    h2.index-services__title Услуги
    .index-services__descr WSS-Consulting выполняет проекты по внедрению
        | SharePoint с 2006 года. В компании работают профессионалы в области управления IT проектами, внедрения корпоративных систем Microsoft и программирования на платформе Microsoft.Net, являющиеся сертифицированными  специалистами по направлениям SharePoint,
        | SQL Server, Microsoft.Net.

    ul.index-services__list
        li.index-services__item
            a.index-services__link.fancy-link(href="#text1") IT консалтинг
            .block-hidden
                .index-services__text#text1 текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        li.index-services__item
            a.index-services__link.fancy-link(href="#text2") Сопровождение и техническая поддержка
            .block-hidden
                .index-services__text#text2 текст текст текст текст текст текст текст текст текст текст текст текст
        li.index-services__item
            a.index-services__link Разработка на SharePoint
            .block-hidden
                .index-services__text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        li.index-services__item
            a.index-services__link Разработка продуктов
            .block-hidden
                .index-services__text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст