section.index-projects
    .index-projects__inner
        h2.index-projects__title проекты по категориям
        select.index-projects__select
            option(selected=selected) Все проекты
            option Топливно-энергетические компании
            option Банки и финансовы организации

        - var x = 8;
        - var y = 8;
        ul.index-projects__list
            li.index-projects__item
                - for (var i=1; i<=x; i++) {
                .index-project
                    .index-project__pic
                        img(src="img/rus-neft.jpg", alt="")
                    .index-project__name Внедрение WSS Portal
                    .index-project__descr
                        .index-project__text Текст текст текст текст
                        a.index-project__link Подробнее
                - }

            li.index-projects__item
                - for (var i=1; i<=y; i++) {
                .index-project
                    .index-project__pic
                        img(src="img/rus-neft.jpg", alt="")
                    .index-project__name Внедрение WSS Portal
                    .index-project__descr
                        .index-project__text Текст текст текст текст
                        a.index-project__link Подробнее
                -}