section.index-products
    .index-products__inner
        h2.index-products__title Продукты
        .index-products__descr WSS-Consulting предлагает готовые, коробочные решения на платформе Microsoft SharePoint для Вашего бизнеса! Максимальное использование возможностей SharePoint.
        .index-products__wrapper
            .index-product
                .index-product__pic
                    img(src="img/wss-docs.png", alt="", title="")
                .index-product__pic--reflect(style="background-image: url(img/wss-docs.png)")

                .index-product__right
                    .index-product__name wSS Docs
                    .index-product__text Коробочная система документооборота на платформе SharePoint Foundation 2013 и SharePoint Server 2010/2013
                    .index-product__links
                        a.index-product__link--video(href="#") Видео презентация
                        a.index-product__link--file(href="#") Скачать материалы
                    .index-product__price От <span>1 096 000</span> р.
                    a.index-product__more(href="#") Подробнее

            .index-product
                .index-product__pic
                    img(src="img/wss-portal.png", alt="", title="")
                .index-product__pic--reflect(style="background-image: url(img/wss-portal.png)")
                .index-product__right
                    .index-product__name wws Portal
                    .index-product__text Коробочная система документооборота на платформе SharePoint Foundation 2013 и SharePoint Server 2010/2013
                    .index-product__links
                        a.index-product__link--video(href="#") Видео презентация
                        a.index-product__link--file(href="#") Скачать материалы
                    .index-product__price От <span>589 000</span> р.
                    a.index-product__more(href="#") Подробнее