.index-about#services-block
    .index-about__top
        .index-about__top-inner
            img(class="index-about__cert", src="img/about-cert.jpg", alt="", title="")
            include index-services

    .index-about__bot
        .index-about__bot-inner
            include about-icons