section.index-services
    h2.index-services__title Услуги
    .index-services__descr WSS-Consulting выполняет проекты по внедрению
        | SharePoint с 2006 года. В компании работают профессионалы в области управления IT проектами, внедрения корпоративных систем Microsoft и программирования на платформе Microsoft.Net, являющиеся сертифицированными  специалистами по направлениям SharePoint,
        | SQL Server, Microsoft.Net.
    +list('index-services__list', 'index-services__item', 'index-services__link', 'IT консалтинг', 'Сопровождение и техническая поддержка', 'Разработка на SharePoint', 'Разработка продуктов')

    a.index-services__link--all(href="#") Все решения