.job-list
    h3.job-list__subtitle Мы всегда рады видеть в своих рядах профессионалов <br> в списке основных ключевых преимуществ от его внедрения значатся:

    .job-list__item
        .job-list__tab
            .job-list__name C# / ASP.NET программист

        .job-list__item-inner
            .job-list__item-block
                h3.job-list__h3 требования

                ul.job-list__ul
                    li.job-list__li Уверенное знание C#, ASP.NET, HTML, CSS, Jscript, T-SQL. Желательно ADO.NET.
                    li.job-list__li Опыт работы от 1 года.
                    li.job-list__li Нацеленность на результат и стремление обучаться. Мы заинтересованы в Вашем росте также, как и Вы, поэтому всегда готовы Вам помогать в этом.
                    li.job-list__li Ответственность. Мы ценим время наших коллег, поэтому ожидаем от Вас ответственного подхода при выполнении задач. Например, у нас не отдают на тестирование «сырой» код. Разработчик предварительно проводит тестирование модуля по написанному тест-плану.

            .job-list__item-block
                h3.job-list__h3 условия

                ul.job-list__ul
                    li.job-list__li Заработная плата от 90 000р "чистыми" на испытательный срок (3 месяца)
                    li.job-list__li Работа на полный рабочий день в офисе
                    li.job-list__li Чай, кофе в любое время в обеденной зоне

            .job-list__form-btn
                a.fancy-link(href="#form-job") работать у нас
                    span

    .job-list__item
        .job-list__tab
            .job-list__name C# / ASP.NET программист

        .job-list__item-inner
            .job-list__item-block
                h3.job-list__h3 требования

                ul.job-list__ul
                    li.job-list__li Уверенное знание C#, ASP.NET, HTML, CSS, Jscript, T-SQL. Желательно ADO.NET.
                    li.job-list__li Опыт работы от 1 года.
                    li.job-list__li Нацеленность на результат и стремление обучаться. Мы заинтересованы в Вашем росте также, как и Вы, поэтому всегда готовы Вам помогать в этом.
                    li.job-list__li Ответственность. Мы ценим время наших коллег, поэтому ожидаем от Вас ответственного подхода при выполнении задач. Например, у нас не отдают на тестирование «сырой» код. Разработчик предварительно проводит тестирование модуля по написанному тест-плану.

            .job-list__item-block
                h3.job-list__h3 условия

                ul.job-list__ul
                    li.job-list__li Заработная плата от 90 000р "чистыми" на испытательный срок (3 месяца)
                    li.job-list__li Работа на полный рабочий день в офисе
                    li.job-list__li Чай, кофе в любое время в обеденной зоне

            .job-list__form-btn
                a.fancy-link(href="#form-job") работать у нас
                    span

    .job-list__item
        .job-list__tab
            .job-list__name C# / ASP.NET программист

        .job-list__item-inner
            .job-list__item-block
                h3.job-list__h3 требования

                ul.job-list__ul
                    li.job-list__li Уверенное знание C#, ASP.NET, HTML, CSS, Jscript, T-SQL. Желательно ADO.NET.
                    li.job-list__li Опыт работы от 1 года.
                    li.job-list__li Нацеленность на результат и стремление обучаться. Мы заинтересованы в Вашем росте также, как и Вы, поэтому всегда готовы Вам помогать в этом.
                    li.job-list__li Ответственность. Мы ценим время наших коллег, поэтому ожидаем от Вас ответственного подхода при выполнении задач. Например, у нас не отдают на тестирование «сырой» код. Разработчик предварительно проводит тестирование модуля по написанному тест-плану.

            .job-list__item-block
                h3.job-list__h3 условия

                ul.job-list__ul
                    li.job-list__li Заработная плата от 90 000р "чистыми" на испытательный срок (3 месяца)
                    li.job-list__li Работа на полный рабочий день в офисе
                    li.job-list__li Чай, кофе в любое время в обеденной зоне

            .job-list__form-btn
                a.fancy-link(href="#form-job") работать у нас
                    span