.job-page
    p «WSS-Consulting» – быстроразвивающаяся компания, предлагающая все возможности для профессионального и личностного развития. Компания растет в среднем на 90-110% в год. Подобная динамика развития позволяет реализовать потенциал каждого сотрудника.
    p Принцип работы в WSS-Consulting - «Grow-or-go». Поэтому в нашей компании Вы в любом случае не будете стоять на месте. Средний возраст наших сотрудников 25-30 лет, мы любим работать, и умеем отдыхать!

    include job-list

    p Успешный кандидат на одну из наших вакансий обладает опытом и знаниям, необходимым для успешной работы на позиции. Мы также приветствуем наличие опыта работы с продуктом Microsoft SharePoint Server. Открытые вакансии Вы можете увидеть на сайте HeadHunter.
    p Мы рады будем рассмотреть Ваше резюме, высланное по адресу job@wss-consulting.com