nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link.main-menu__link--active(href="#") О компании
            ul.main-menu__submenu
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
        li.main-menu__item
            a.main-menu__link(href="#") Решения
        li.main-menu__item
            a.main-menu__link(href="#") Продукты
        li.main-menu__item
            a.main-menu__link(href="#") Проекты
        li.main-menu__item
            a.main-menu__link(href="#") Отрасли
        li.main-menu__item
            a.main-menu__link(href="#") ТЕХНОЛОГИИ
        li.main-menu__item
            a.main-menu__link(href="#") Контакты