nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link.main-menu__link--active(href="#") О компании
        li.main-menu__item
            a.main-menu__link(href="#") Услуги
        li.main-menu__item
            a.main-menu__link(href="#") Продукты
        li.main-menu__item
            a.main-menu__link(href="#") Проекты
        li.main-menu__item
            a.main-menu__link(href="#") Отрасли
        li.main-menu__item
            a.main-menu__link(href="#") ТЕХНОЛОГИИ
        li.main-menu__item
            a.main-menu__link(href="#") Контакты