nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link(href="#scopes-block") возможности
        li.main-menu__item
            a.main-menu__link(href="#advantages-block") преимущества
        li.main-menu__item
            a.main-menu__link(href="#services-block") услуги
        li.main-menu__item
            a.main-menu__link(href="#projects-block") Проекты
        li.main-menu__item
            a.main-menu__link(href="#price-block") стоимость
        li.main-menu__item
            a.main-menu__link(href="#team-block") о нас