nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link.main-menu__link--active(href="#capabilities") возможности
        li.main-menu__item
            a.main-menu__link(href="#advantages") преимущества
        li.main-menu__item
            a.main-menu__link(href="#services") услуги
        li.main-menu__item
            a.main-menu__link(href="#projects") Проекты
        li.main-menu__item
            a.main-menu__link(href="#price") стоимость
        li.main-menu__item
            a.main-menu__link(href="#about") о нас