.news-page
    .news-list
        .news-list__item
            .news-list__item-date 02.12.2015
            a.news-list__item-name WSS-Consulting подводит итоги 2015 года.
        .news-list__item
            .news-list__item-date 02.12.2015
            a.news-list__item-name Корпоративный портал Вымпелком.
        .news-list__item
            .news-list__item-date 02.12.2015
            a.news-list__item-name WSS Docs - самое быстрорастущее решение на рынке СЭД
        .news-list__item
            .news-list__item-date 02.12.2015
            a.news-list__item-name Внедрения WSS Docs 3.0 – «система превосходит ожидания клиентов»
        .news-list__item
            .news-list__item-date 02.12.2015
            a.news-list__item-name Новые версии продуктов WSS Docs и WSS Portal будут выпущены на рынок в октябре