.page-header
    .page-header__inner
        a(class="page-header__logo", href="/")
            img(src="img/logo.jpg", alt="", title="wss")

        include main-menu
        .page-header__menu-btn

        .page-header__contacts
            .page-header__phone
                a(href="tel: +1 (310) 888 67 86") + 1 (310)
                    span 888 67 86
            a.page-header__feedback-link.fancy-link(href="#form-feedback") Обратная связь