.page-header.page-header--project
    .page-header__inner
        a.page-header__return к проектам
        a(class="page-header__logo page-header__logo--project", href="/")
            img(src="img/logo.jpg", alt="", title="wss")

        .page-header__projects
            span.page-header__projects-title проект
            span.page-header__projects-active дикси
            ul.page-header__projects-list
                li.page-header__projects-item
                    a(href="#") дикси
                li.page-header__projects-item
                    a(href="#") дикси2
                li.page-header__projects-item
                    a(href="#") дикси3


        .page-header__contacts
            .page-header__phone
                a(href="tel: +1 (310) 888 67 86") + 1 (310)
                    span 888 67 86
            a.page-header__feedback-link(href="#") Обратная связь