.page-header
    .page-header__inner
        a(class="page-header__logo", href="/")
            img(src="img/logo.jpg", alt="", title="wss")

        include main-menu

        .page-header__contacts
            .page-header__phone + 1 (310)
                span 888 67 86
                a.page-header__feedback-link(href="#") Обратная связь