- var x = 4;
- for (var i=1; i<=x; i++) {
div.personal-tab
    .personal-tab__pic
        img(src="img/personal-foto.jpg", alt="")

    .personal-tab__right
        .personal-tab__descr Если ваши возмонжости превосходят
                             |возможности коробочніх порталов,
                             |мы готові разработать “под ключ” уникальное
                             |решение, отвечающее всем
                             |Вашим требованиям.

        ul.personal-tab__list
            li.personal-tab__item Сильная экспертиза по платформе SharePoint
            li.personal-tab__item Большая команда программистов, аналитиков и инженеров
            li.personal-tab__item Конкурентная стоимость продуктови услуг
            li.personal-tab__item Экспертиза в предметной области: корпоративные порталы
-}