ul.personal-tabs
    li.personal-tabs__item
        a.personal-tabs__link(data-slide-index="0", href="") ПОРТАЛ НА ЗАКАЗ
    li.personal-tabs__item
        a.personal-tabs__link(data-slide-index="1", href="") КРЕАТИВНЫЙ ДИЗАЙН
    li.personal-tabs__item
        a.personal-tabs__link(data-slide-index="2", href="") ИНДИВИДУАЛЬНЫЕ МОДУЛИ
    li.personal-tabs__item
        a.personal-tabs__link(data-slide-index="3", href="") СОПРОВОЖДЕНИЕ И ПОДДЕРЖКА