section.personal
    .personal__inner
        .personal__title индивидуальное <span>РЕШЕНИЕ ЗАДАЧ</span> ЛЮБОЙ СЛОЖНОСТИ
        include personal-tabs
        .personal__slider
            include personal-tab