.price-inner.price-inner--active#price-inner1
    .price-inner__title Поставка и инсталяция wss portal всключает в себя следующие работы:

    .price-inner__descr
        ul.price-inner__list
            li.price-inner__list-item Поставка лицензии WSS Portal
            li.price-inner__list-item Анализ требований Заказчика (3 встречи, создание протоколов встреч)
            li.price-inner__list-item Создание Технического Задание и его согласование (одна итерация по доработке)

        a.price-inner__download(href="#") Скачать материалы

    .price-inner__total
        .price-inner__sum Стоимость: <span>38 000$</span>

        .price-inner__time Срок: <span>38 раб. дней</span>

        .price-inner__buttons
            include open-form-buttons

.price-inner#price-inner2
    .price-inner__title Поставка и инсталяция wss portal всключает в себя следующие работы:

    .price-inner__descr
        ul.price-inner__list
            li.price-inner__list-item Поставка лицензии WSS Portal
            li.price-inner__list-item Анализ требований Заказчика (3 встречи, создание протоколов встреч)
            li.price-inner__list-item Создание Технического Задание и его согласование (одна итерация по доработке)

        .price-inner__download Скачать материалы

    .price-inner__total
        .price-inner__sum Стоимость: <span>18 000$</span>

        .price-inner__time Срок: <span>18 раб. дней</span>

        .price-inner__buttons
            include open-form-buttons