.price-tab#price-tab1
    .price-tab__icons-list
        .price-tab__icons-item
            a.price-tab__link.price-tab__link--active(href="#price-inner1")
                .price-tab__icon-wrap
                    .price-tab__icon-inner
                        img.price-tab__icon-pic(src="img/icon_wallet.png", alt="")
                        img.price-tab__icon-pic--active(src="img/icon_wallet--hover.png", alt="")
                .price-tab__title поставка и инсталляция wss portal

        .price-tab__icons-item
            a.price-tab__link(href="#price-inner2")
                .price-tab__icon-wrap
                    .price-tab__icon-inner
                        img.price-tab__icon-pic(src="img/icon_wallet.png", alt="")
                        img.price-tab__icon-pic--active(src="img/icon_wallet--hover.png", alt="")
                .price-tab__title Адаптация цветовой схемы

        .price-tab__icons-item
            a.price-tab__link(href="#price-inner3")
                .price-tab__icon-wrap
                    .price-tab__icon-inner
                        img.price-tab__icon-pic(src="img/icon_wallet.png", alt="")
                        img.price-tab__icon-pic--active(src="img/icon_wallet--hover.png", alt="")
                .price-tab__title НАСТРОЙКА ПОРТАЛАИ ИМПОРТА

        .price-tab__icons-item
            a.price-tab__link(href="#price-inner4")
                .price-tab__icon-wrap
                    .price-tab__icon-inner
                        img.price-tab__icon-pic(src="img/icon_wallet.png", alt="")
                        img.price-tab__icon-pic--active(src="img/icon_wallet--hover.png", alt="")
                .price-tab__title Установка порталаи пуско-наладка

        .price-tab__icons-item
            a.price-tab__link(href="#price-inner5")
                .price-tab__icon-wrap
                    .price-tab__icon-inner
                        img.price-tab__icon-pic(src="img/icon_wallet.png", alt="")
                        img.price-tab__icon-pic--active(src="img/icon_wallet--hover.png", alt="")
                .price-tab__title  Проведение обучающего тренинга

        .price-tab__icons-item
            a.price-tab__link(href="#price-inner6")
                .price-tab__icon-wrap
                    .price-tab__icon-inner
                        img.price-tab__icon-pic(src="img/icon_wallet.png", alt="")
                        img.price-tab__icon-pic--active(src="img/icon_wallet--hover.png", alt="")
                .price-tab__title Сопровождение опытной эксплуатации