.price-inner.price-inner--active#price-inner1
    .price-inner__title
        p Поставка и инсталяция wss portal всключает в себя следующие работы:

    .price-inner__descr
        .price-inner__descr-inner
            ul.price-inner__list
                li.price-inner__list-item Поставка лицензии WSS Portal
                li.price-inner__list-item Анализ требований Заказчика (3 встречи, создание протоколов встреч)
                li.price-inner__list-item Создание Технического Задание и его согласование (одна итерация по доработке)

            a.price-inner__download(href="#") Скачать материалы

.price-inner#price-inner2
    .price-inner__title
        p Поставка и инсталяция wss portal всключает в себя следующие работы:

    .price-inner__descr
        .price-inner__descr-inner
            ul.price-inner__list
                li.price-inner__list-item Поставка лицензии WSS Portal
                li.price-inner__list-item Анализ требований Заказчика (3 встречи, создание протоколов встреч)
                li.price-inner__list-item Создание Технического Задание и его согласование (одна итерация по доработке)

            .price-inner__download Скачать материалы