.product-page
    p WSS Portal – это готовое решение, имеющее весь типовой функционал корпоративных порталов. WSS Portal является лидирующим коробочным порталом на рынке решений для SharePoint.
    p WSS Portal может быть установлен на SharePoint Foundation 2010/2013 или SharePoint Server 2010/2013. При этом WSS Portal никак не ограничивает возможности дальнейшего развития портала. Все возможности SharePoint остаются доступными.

    a.product-page__file-link Описание продукта WSS Portal (0,7 mb)

    h3.product-page__h3 Существует две возможности внедрения WSS Portal:

    ul.product-page__ul
        .product-page__li
            p <span class="text-bold">Базовое внедрение</span> включает в себя поставку и инсталляцию WSS Portal, изменение дизайна, проведение тренинга для контент-менеджеров, сопровождение опытной эксплуатации. 
            p Стоимость: <span class="text-bold"><span class="text-red">694 600</span> р.</span>  Продолжительность: <span class="text-bold">16 рабочих дней.</span>
        .product-page__li
            p <span class="text-bold">Стандартное внедрение</span> включает в себя базовое внедрение, адаптацию портала под нужды Заказчика (изменение структуры, создание новых разделов) а также настройку или разработку модуля импорта информации о сотрудниках.
            p Стоимость: <span class="text-bold"><span class="text-red">1 203 400</span> р.</span>  Продолжительность: <span class="text-bold">38 рабочих дней.</span>

    h3.product-page__h3 преимущества wss portal

    .product-page__advants
        ul.product-page__advants-ul
            li.product-page__advants-li Богатый функционал, готовый к использованию сразу после установки
            li.product-page__advants-li Легко расширяемое решение
            li.product-page__advants-li Возможность увидеть портал, прежде чем принимать решение о его приобретении
            li.product-page__advants-li Сжатые сроки внедрения
            li.product-page__advants-li Портал построен на современной платформе Microsoft Office SharePoint Server 2010

        ul.product-page__advants-ul
            li.product-page__advants-li Высокая производительность и масштабируемость: есть кейсы внедрений в организациях с количеством пользователей большим 10 000 человек
            li.product-page__advants-li Максимально эффективное расходование средств
            li.product-page__advants-li Качественный настраиваемый дизайн
            li.product-page__advants-li Удобный проработанный пользовательский интерфейс
            li.product-page__advants-li Надежное решение: более 80 внедрений в России

    h3.product-page__scopes-h3 возможности

    .product-page__tabs
        ul.product-page__tabs-ul
            li.product-page__tabs-li
                a.product-page__tabs-link.product-page__tabs-link--active(href="#product-page__scopes-tab1") ДОПОЛНИТЕЛЬНЫЕ ПРЕИМУЩЕСТВА
            li.product-page__tabs-li
                a.product-page__tabs-link(href="#product-page__scopes-tab2") СПИСОК МОДУЛЕЙ
            li.product-page__tabs-li
                a.product-page__tabs-link(href="#product-page__scopes-tab3") ПАКЕТ УСЛУГ
            li.product-page__tabs-li
                a.product-page__tabs-link(href="#product-page__scopes-tab4") ИНФОРМАЦИОННЫЕ МАТЕРИАЛЫ

        .product-page__scopes-tab.product-page__scopes-tab--active#product-page__scopes-tab1
            ul.product-page__scopes-ul
                li.product-page__scopes-li 128 часов для настройки портала позволяют сделать внедрение еще более эффективным
                li.product-page__scopes-li Повышенная производительность при работе с большими объемами данных
                li.product-page__scopes-li 12 месяцев гарантийной поддержки
                li.product-page__scopes-li Единое хранилище документов позволяет хранить большее количество документов, каталогизировать их и осуществлять поиск по ним
                li.product-page__scopes-li Интеграция модулей с Microsoft Active Directory существенно облегчается ведение списка сотрудников и данных о них.
                li.product-page__scopes-li Настройка фермы серверов позволит повысить отказоустойчивость и производительность портала

        .product-page__scopes-tab#product-page__scopes-tab2
            ul.product-page__scopes-ul
                li.product-page__scopes-li 128 часов для настройки портала позволяют сделать внедрение еще более эффективным
                li.product-page__scopes-li Повышенная производительность при работе с большими объемами данных
                li.product-page__scopes-li 12 месяцев гарантийной поддержки
