.products
    .products__inner
        .products__descr WSS-Consulting предлагает готовые, коробочные решения на платформе Microsoft SharePoint для Вашего бизнеса! Максимальное использование возможностей SharePoint.
        .products__wrapper
            .product
                .product__pic
                    img(src="img/pic_wss-docs.png", alt="", title="")

                .product__right
                    .product__name wSS Docs
                    .product__text Коробочная система документооборота на платформе SharePoint Foundation 2013 и SharePoint Server 2010/2013
                    .product__links
                        a.product__link--video(href="#") Видео презентация
                        a.product__link--file(href="#") Скачать материалы
                    .product__price От <span>1 096 000</span> р.
                    a.product__more(href="#") Подробнее

            .product
                .product__pic
                    img(src="img/pic_wss-portal.png", alt="", title="")

                .product__right
                    .product__name wws Portal
                    .product__text Коробочная система документооборота на платформе SharePoint Foundation 2013 и SharePoint Server 2010/2013
                    .product__links
                        a.product__link--video(href="#") Видео презентация
                        a.product__link--file(href="#") Скачать материалы
                    .product__price От <span>589 000</span> р.
                    a.product__more(href="#") Подробнее

    .products__icons
        .products__icons-inner
            include about-icons