section.project-solutions
    .project-solutions__inner
        .project-solutions__title решения

        ul.solutions-tabs
            li.solutions-tabs__item
                a.solutions-tabs__link.solutions-tabs__link--active(href="#solutions-tabs__tab1") сТАНДАРТННОЕ ВНЕДРЕНИЕ wSS PORTAL
            li.solutions-tabs__item
                a.solutions-tabs__link(href="solutions-tabs__tab2") иНДИВИДУАЛЬНІЙ ДИЗАЙН

        include solutions-tab