.project-descr
    .project-descr__inner
        .project-descr__text Магазины “ДИКСИ” расположены по всей России – как в крупных, так и в небольших городах Центрального, Северо-Западного, Уральского и Приволжского федеральных округов. Всего наша сеть охватывает 697 населённых пунктов и насчитывает 2333 магазина “у дома” (по состоянию на 30 июня 2015 года). Первый магазин “ДИКСИ” был открыт в Москве в 1999 году и с тех пор сеть “ДИКСИ” растёт быстрыми темпами. Сейчас мы открываем новые магазины буквально каждый день: более трёхсот было открыто только за первое полугодие 2015 года.управления IT проектами, внедрения корпоративных систем.
        .project-descr__reviews-block
            .project-descr__video
                img(src="img/project-preview-video.jpg", alt="")
                a.project-descr__play-btn(href="https://www.youtube.com/embed/Wt2JFskxGRE?autoplay=1")
            .project-descr__scan
                a.project-descr__scan-link.fancy-pic(href="img/project-review-scan.jpg")
                    img(src="img/project-review-scan.jpg", alt="")
