section.project-header
    .project-header__inner
        h2.project-header__title разработка <span>корпоративного портала</span> на базе wss portal
            .project-header__sub-title порталом пользуется<br> более 10.000 сотурдников ежедневно