section.project-tasks
    .project-tasks__inner
        h3.project-tasks__title задачи проекта

        .project-tasks__list
            .project-tasks__item
                .project-tasks__item-icon
                .project-tasks__item-right
                    .project-tasks__item-name еДИНЫЙ ИНФОРМАЦИОННЫЙ РЕСУРС
                    .project-tasks__item-text Повышение эффективности работы сотрудников за счет предоставления своевременной и достоверной информации, упрощения доступа в сети к разрозненным источникам данных

            .project-tasks__item
                .project-tasks__item-icon
                .project-tasks__item-right
                    .project-tasks__item-name еДИНЫЙ ИНФОРМАЦИОННЫЙ РЕСУРС
                    .project-tasks__item-text Повышение эффективности работы сотрудников за счет предоставления своевременной и достоверной информации, упрощения доступа в сети к разрозненным источникам данных

            .project-tasks__item
                .project-tasks__item-icon
                .project-tasks__item-right
                    .project-tasks__item-name еДИНЫЙ ИНФОРМАЦИОННЫЙ РЕСУРС
                    .project-tasks__item-text Повышение эффективности работы сотрудников за счет предоставления своевременной и достоверной информации, упрощения доступа в сети к разрозненным источникам данных

            .project-tasks__item
                .project-tasks__item-icon
                .project-tasks__item-right
                    .project-tasks__item-name еДИНЫЙ ИНФОРМАЦИОННЫЙ РЕСУРС
                    .project-tasks__item-text Повышение эффективности работы сотрудников за счет предоставления своевременной и достоверной информации, упрощения доступа в сети к разрозненным источникам данных


        .project-tasks__more-link
            span показать еще

        .project-tasks__list.project-tasks__list--other
            .project-tasks__item
                .project-tasks__item-right
                    .project-tasks__item-name еДИНЫЙ ИНФОРМАЦИОННЫЙ РЕСУРС
                    .project-tasks__item-text Повышение эффективности работы сотрудников за счет предоставления своевременной и достоверной информации, упрощения доступа в сети к разрозненным источникам данных

            .project-tasks__item
                .project-tasks__item-right
                    .project-tasks__item-name еДИНЫЙ ИНФОРМАЦИОННЫЙ РЕСУРС
                    .project-tasks__item-text Повышение эффективности работы сотрудников за счет предоставления своевременной и достоверной информации, упрощения доступа в сети к разрозненным источникам данных