.projects
    .projects__inner
        .project
            a.project__link(href="#")
                .project__name Корпоративный портал Интранет
                img.project__pic(src="img/projects-pic2.jpg", alt="", title="")

        .project
            a.project__link(href="#")
                .project__name Электронный документооборот
                img.project__pic(src="img/projects-pic1.jpg", alt="", title="")

    .projects__icons
        .projects__icons-inner
            include about-icons