section.projects-block
    .projects-block__inner
        h2.projects-block__title <span>проекты</span> по отраслям
        .projects-block__select
            select
                option(selected=selected) Все проекты
                option Топливно-энергетические компании
                option Банки и финансовы организации

        - var x = 6;
        .projects-block__list
            - for (var i=1; i<=x; i++) {
            .projects-block__item
                .projects-block__item-pic
                    img(src="img/rus-neft.jpg", alt="")
                .projects-block__item-name Внедрение WSS Portal
                .projects-block__item-descr
                    .projects-block__item-text Текст текст текст текст
                    a.projects-block__item-link Подробнее
            - }