.scheme
    .scheme__inner
        .scheme__top
            .scheme__top-inner
                img(src="img/scheme-top.png", alt="")
                .scheme__top-text
                    span https://wssdocs
                    span https://wssportal

        .scheme__left
            .scheme__block
                .scheme__dots
                    .scheme__dot
                    .scheme__dot
                    .scheme__dot

                .scheme__item
                    img(src="img/left-col1.png", alt="")
                    span Почтовый сервер
                    .scheme__link
                        .scheme__note текст подсказки
                .scheme__item
                    img(src="img/left-col2.png", alt="")
                    span УЦ
                    .scheme__link
                        .scheme__note текст подсказки
                .scheme__item
                    img(src="img/left-col3.png", alt="")
                    span AD DS, DNS
                    .scheme__link
                        .scheme__note текст подсказки

            .scheme__name Инфраструктура

        .scheme__center
            .scheme__block
                .scheme__item.scheme__item-center1
                    .scheme__note.scheme__item-note1 текст подсказки строки
                    img(src="img/center-col1.png", alt="")
                    span Веб-сервер 1
                    span Веб-сервер 2
                    span Веб-сервер 3

                    .scheme__link.scheme__link--center1
                        .scheme__note.scheme__note--center1 текст подсказки1
                    .scheme__link.scheme__link--center2
                        .scheme__note.scheme__note--center2 текст подсказки2
                    .scheme__link.scheme__link--center3
                        .scheme__note.scheme__note--center3 текст подсказки3
                .scheme__item.scheme__item-center2
                    .scheme__note.scheme__item-note2 текст подсказки строки
                    img(src="img/center-col2.png", alt="")
                    span Сервер<br> Баз данных 1
                    span Сервер<br> Баз данных 2

                    .scheme__link.scheme__link--center4
                        .scheme__note.scheme__note--center4 текст подсказки4
                    .scheme__link.scheme__link--center5
                        .scheme__note.scheme__note--center5 текст подсказки5
                .scheme__item.scheme__item-center3
                    .scheme__note.scheme__item-note3 текст подсказки строки
                    img(src="img/center-col3.png", alt="")
                    span СХД

            .scheme__name WSS Docs

        .scheme__right
            .scheme__block
                .scheme__dots
                    .scheme__dot
                    .scheme__dot
                    .scheme__dot

                .scheme__item
                    img(src="img/right-col1.png", alt="")
                    span ЭА Saperion
                    .scheme__link
                        .scheme__note текст подсказки
                .scheme__item
                    img(src="img/right-col2.png", alt="")
                    span SAP
                    .scheme__link
                        .scheme__note текст подсказки
                .scheme__item
                    img(src="img/right-col3.png", alt="")
                    span 1C
                    .scheme__link
                        .scheme__note текст подсказки

            .scheme__name Интеграция