ul.scopes-tabs
    li.scopes-tabs__item
        a.scopes-tabs__link.scopes-tabs__link--active(href="#scopes-tab1") о КОМПАНИИ
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab2") сИСТЕМА ЗАЯВОК
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab4") пРОЕКТНЫЙ ОФИС
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab1") УЗЛЫ ОТДЕЛОВ
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab1") МЕДИА
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab1") СИСТЕМА ПОИСКА
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab1") АДМИНИСТРИРОВАНИЕ
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab1") SharePoint Server 2010
    li.scopes-tabs__item
        a.scopes-tabs__link(href="#scopes-tab1") СПЕЦИАЛЬНЫЕ МОДУЛИ