section.scopes
    .scopes__inner
        .scopes__title бОГАТАЯ ФУНКЦИОНАЛЬНОСТЬ, <span>ГОТОВАЯ К ИСОЛЬЗОВАНИЮ</span> СРАЗУ ПОСЛЕ УСТАНОВКИ

        include scopes-tabs
        include scopes-tab
    include scopes-call