.scopes-call
    .scopes-call__inner
        .scopes-call__title БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ И <span>ИНДИВИДУАЛЬНЫЙ</span> ДЕМО-ДОСТУП
        .scopes-call__note сейчас более 100 компаний<br> успешно эксплуатируют решения WSS Portal
        .scopes-call__buttons
            include open-form-buttons
