div(class="scopes-tab scopes-tab--active", id="scopes-tab1")
    .scopes-tab__list
        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Адресная книга
            .scopes-tab__descr составление списка всех сотрудников компании с контактами, фотографиями и прочей полезной информацией о них

        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Поэтажный план
            .scopes-tab__descr план офисов компании с автоматическим отображением размещения сотрудников по комнатам

        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Дни рождения
            .scopes-tab__descr отображение дней рождений сотрудников и система напоминаний о приближающихся днях рождениях

        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Календарь событий
            .scopes-tab__descr отслеживание и управление корпоративными событиями

        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Раздел для новых сотрудников
            .scopes-tab__descr помогающий им быстрее адаптироваться в

    .scopes-tab__pic
        img(src="img/scopes-foto.jpg", alt="")

div(class="scopes-tab", id="scopes-tab2")
    .scopes-tab__list
        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Адресная книга
            .scopes-tab__descr составление списка всех сотрудников компании с контактами, фотографиями и прочей полезной информацией о них

        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Поэтажный план
            .scopes-tab__descr план офисов компании с автоматическим отображением размещения сотрудников по комнатам

        .scopes-tab__item(data-pic="img/scopes-foto.jpg")
            .scopes-tab__title Дни рождения
            .scopes-tab__descr отображение дней рождений сотрудников и система напоминаний о приближающихся днях рождениях

    .scopes-tab__pic
        img(src="img/scopes-foto.jpg", alt="")