.sidebar-menu
    h3.sidebar-menu__title О компании

    ul.sidebar-menu__list
        li.sidebar-menu__item
            a.sidebar-menu__link.sidebar-menu__link--active О компании
        li.sidebar-menu__item
            a.sidebar-menu__link Команда
        li.sidebar-menu__item
            a.sidebar-menu__link Вакансии
        li.sidebar-menu__item
            a.sidebar-menu__link Портал дистанционного обучения