.sidebar-info
    h3.sidebar-info__title Видео материалы

    .sidebar-info__item
        a.sidebar-info__item-btn.fancy-video(href="#")

        img(src="img/video_anons1.jpg",alt="")

        .sidebar-info__item-name Возможное название ролика

    .sidebar-info__item
        a.sidebar-info__item-btn.fancy-video(href="#")

        img(src="img/video_anons2.jpg",alt="")

        .sidebar-info__item-name Возможное название ролика

    .sidebar-info__get-present
        a.fancy-link(href="#form-present") заказать презентацию