.solutions
    .solutions__inner
        .solutions__block
            .solutions__title iNTRANET

            .solutions__list.solutions__list--gradient
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name Корпоративный портал
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name Корпоративная социальная сеть
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name портал дистанционного обучения
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name Корпоративное СМИ

        .solutions__block
            .solutions__title ecm

            .solutions__list
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name АВТОМАТИЗАЦИЯ ДЕЛОПРОИЗВОДСТАВА
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name дОГОВОРЫ
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name уПРАВЛЕНИЕ ПОРУЧЕНИЯМИ
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name пРОЦЕСС ОТ ЗАКУПКИ ДО ПЛАТЕЖА

                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name АВТОМАТИЗАЦИЯ ДЕЛОПРОИЗВОДСТАВА
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name дОГОВОРЫ
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name уПРАВЛЕНИЕ ПОРУЧЕНИЯМИ
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name пРОЦЕСС ОТ ЗАКУПКИ ДО ПЛАТЕЖА

                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name АВТОМАТИЗАЦИЯ ДЕЛОПРОИЗВОДСТАВА
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name дОГОВОРЫ
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name уПРАВЛЕНИЕ ПОРУЧЕНИЯМИ
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name пРОЦЕСС ОТ ЗАКУПКИ ДО ПЛАТЕЖА

                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name АВТОМАТИЗАЦИЯ ДЕЛОПРОИЗВОДСТАВА
                .solutions__list-item
                    .solutions__list-line
                    a.solutions__list-name дОГОВОРЫ