.solution-projects
    .solution-projects__item
        .solution-projects__pic
            img(src="img/severstal.jpg", alt="")
        .solution-projects__title Внедрение WSS Portal
        .solution-projects__descr
            .solution-projects__text Текст текст текст текст
            a.solution-projects__link Подробнее

    .solution-projects__item
        .solution-projects__pic
            img(src="img/vimpelcom.jpg", alt="")
        .solution-projects__title Внедрение WSS Portal
        .solution-projects__descr
            .solution-projects__text Текст текст текст текст
            a.solution-projects__link Подробнее

    .solution-projects__item
        .solution-projects__pic
            img(src="img/pepsico.jpg", alt="")
        .solution-projects__title Внедрение WSS Portal
        .solution-projects__descr
            .solution-projects__text Текст текст текст текст
            a.solution-projects__link Подробнее

    .solution-projects__item
        .solution-projects__pic
            img(src="img/neftetrans.jpg", alt="")
        .solution-projects__title Внедрение WSS Portal
        .solution-projects__descr
            .solution-projects__text Текст текст текст текст
            a.solution-projects__link Подробнее

    .solution-projects__item
        .solution-projects__pic
            img(src="img/tatneft.jpg", alt="")
        .solution-projects__title Внедрение WSS Portal
        .solution-projects__descr
            .solution-projects__text Текст текст текст текст
            a.solution-projects__link Подробнее

    .solution-projects__item
        .solution-projects__pic
            img(src="img/suek.jpg", alt="")
        .solution-projects__title Внедрение WSS Portal
        .solution-projects__descr
            .solution-projects__text Текст текст текст текст
            a.solution-projects__link Подробнее