.solutions-tab
    .solutions-tab__text Индивидуальный дизайн разрабатывается профессиональными дизайнерами с учетом современных тенденций и технологий. При разработке индивидуального дизайна, наравне с нормами и стандартами учитываются факторы поведения посетителей и удобство пользования сайтом.

    a.solutions-tab__more-link(href="#") пОДРОБНЕЕ

    .solutions-slider
        ul.solutions-slider__inner
            li.solutions-slider__item
                img.solutions-slider__pic(src="img/project-slider-foto.jpg", alt="")
            li.solutions-slider__item
                img.solutions-slider__pic(src="img/project-slider-foto.jpg", alt="")
            li.solutions-slider__item
                img.solutions-slider__pic(src="img/project-slider-foto.jpg", alt="")