.solution-page__call
    .solution-page__call-icon
        img(src="img/icon_solution-call.png", alt="")

    .solution-page__call-title Закажите <span>бесплатную презентацию</span> <br> Услуги разработки на Sharepoint

    a.solution-page__call-btn.fancy-link заказать презентациию
        span