.solution-page
    .solution-page__product
        img(src="img/solution-product.jpg", alt="")
        .solution-page__product-name Решение реализуется на базе WSS Portal
        a.solution-page__product-link Подробнее
            span

    p Корпоративный портал как система доступа сотрудника к единой информационной сети организации появился относительно недавно. Ранее корпоративные порталы выполняли скорее функции внутреннего сайта организации, где могли размещаться публикации новостей для сотрудников, форумы и, зачастую, базы файлов и документов.

    p Однако прогресс не стоит на месте и возможности создания такого рода программ шагнули намного дальше в сторону социализации и интеграции с CRM/ERP системами компании, что позволило создать по сути целую интранет сеть внутри организации. Такой подход позволяет сосредоточить всю информационную инфраструктуру компании в едином интранет портале, который сам по себе является миниатюрной социальной сетью, персонализированной под каждого сотрудника компании.

    h3.solution-page__h3 Интранет портал играет важнейшую роль в жизни организации <br> в списке основных ключевых преимуществ от его внедрения значатся:

    ul.solution-page__ul
        li.solution-page__li Повышение эффективности работы сотрудников за счет предоставления своевременной и достоверной информации, упрощения доступа в сети к разрозненным источникам данных, применения удобных и привычных пользовательских инструментов, использования средств совместной работы корпоративного интранета;Повышение эффективности коммуникаций на уровнях взаимодействия «Компания - Сотрудник», «Сотрудник - Сотрудник», «Подразделение/Рабочая группа - Сотрудник», «Подразделение - Подразделение»;
        li.solution-page__li Формирование в сети единой базы знаний компании, создание электронного архива документов;
        li.solution-page__li Создание автоматизации бизнес-процессов компании и интеграция разрозненных приложений в единое информационное интранет пространство предприятия;
        li.solution-page__li Снижение затрат компании благодаря централизации и унификации доступа сотрудников к информационным службам предприятия, легкости сопровождения и модернизации;
        li.solution-page__li Создание единой платформы для дальнейшего развития IT-служб и автоматизации бизнес-процессов компании;
        li.solution-page__li Высокая производительность при совместной работе над общими проектами;
        li.solution-page__li Легкий доступ персонала к интранет данным сети;
        li.solution-page__li Создание гибкого уровня взаимодействия: возможность менять бизнес-схемы взаимодействия как по вертикали, так и по горизонтали;
        li.solution-page__li Мгновенная публикация данных на ресурсах корпоративной сети интранет позволяет регулярно обновлять важные документы, при необходимости предоставляя доступ к ним избранным группам пользователей. Такая возможность зачастую используется при проведении обучения внутри компании.

    include solution-page__call

    h2.solution-page__h2 Проекты в которых <span>использовалось данное решение</span>

    include solution-projects