.pop-solutions
   .pop-solutions__list-item
       .pop-solutions__list-line
       a.pop-solutions__list-name Корпоративный портал
   .pop-solutions__list-item
       .pop-solutions__list-line
       a.pop-solutions__list-name Корпоративная социальная сеть
   .pop-solutions__list-item
       .pop-solutions__list-line
       a.pop-solutions__list-name портал дистанционного обучения
   .pop-solutions__list-item
       .pop-solutions__list-line
       a.pop-solutions__list-name Корпоративное СМИ
   .pop-solutions__list-item
       .pop-solutions__list-line
       a.pop-solutions__list-name АВТОМАТИЗАЦИЯ ДЕЛОПРОИЗВОДСТАВА
   .pop-solutions__list-item
       .pop-solutions__list-line
       a.pop-solutions__list-name дОГОВОРЫ