.standarts
    .standarts__inner
        h3.standarts__title Standarts

        .standarts__column.standarts__column--left
            .standarts__block
                .standarts__block-name Technology

                ul.standarts__block-list
                    li
                        .standarts__block-item LINQ
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item ASP.NET.MVC
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item WCF
                    li
                        .standarts__block-item Net Framework 3.8 / 8.6
                    li
                        .standarts__block-item ADO.NET
                    li
                        .standarts__block-item LINQ

            .standarts__block
                .standarts__block-name Server-side libraries

                ul.standarts__block-list
                    li
                        .standarts__block-item LINQ
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item ASP.NET.MVC
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item WCF
                    li
                        .standarts__block-item Net Framework 3.8 / 8.6
                    li
                        .standarts__block-item ADO.NET
                    li
                        .standarts__block-item LINQ

        .standarts__column.standarts__column--center
            .standarts__block
                .standarts__block-name Languages

                ul.standarts__block-list
                    li
                        .standarts__block-item LINQ
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item ASP.NET.MVC
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item WCF
                    li
                        .standarts__block-item Net Framework 3.8 / 8.6
                    li
                        .standarts__block-item ADO.NET
                    li
                        .standarts__block-item LINQ
                    li
                        .standarts__block-item ADO.NET
                    li
                        .standarts__block-item LINQ

            .standarts__block
                .standarts__block-name For repository

                ul.standarts__block-list
                    li
                        .standarts__block-item LINQ
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ

        .standarts__column.standarts__column--right
            .standarts__block
                .standarts__block-name Client-side libraries

                ul.standarts__block-list
                    li
                        .standarts__block-item LINQ
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item ASP.NET.MVC
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item WCF
                    li
                        .standarts__block-item Net Framework 3.8 / 8.6
                    li
                        .standarts__block-item ADO.NET
                    li
                        .standarts__block-item LINQ

            .standarts__block
                .standarts__block-name Services

                ul.standarts__block-list
                    li
                        .standarts__block-item LINQ
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item ASP.NET.MVC
                            .standarts__block-note ВОЗМОЖНОЕ нАЗВАНИЕ ТЕХНОЛОГИИ
                    li
                        .standarts__block-item WCF
