.team-list.team-page
    p
        | WSS-Consulting выполняет проекты по внедрению SharePoint с 2006 года. В компании работают профессионалы в области управления IT проектами, внедрения корпоративных систем Microsoft и программирования на платформе Microsoft Net, являющиеся специалистами по направлениям SharePoint, SQL Server, Microsoft.Net.

    .team-list__block
        h2.team-list__title руководители

        .team-item
            .team-item__pic
                img(src="img/staff_foto-1.jpg", alt="")
            .team-item__descr
                .team-item__name Виктор
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-2.jpg", alt="")
            .team-item__descr
                .team-item__name Алина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-3.jpg", alt="")
            .team-item__descr
                .team-item__name Мартин
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-4.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

    .team-list__block
        h2.team-list__title разработчики

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ

        .team-item
            .team-item__pic
                img(src="img/staff_foto-5.jpg", alt="")
            .team-item__descr
                .team-item__name Ирина
                .team-item__post менеджер ПРОЕКТОВ