.team-list
    .team-item
        .team-item__pic
            img(src="img/staff_foto-1.jpg", alt="")
        .team-item__descr
            .team-item__name Виктор
            .team-item__post менеджер ПРОЕКТОВ

    .team-item
        .team-item__pic
            img(src="img/staff_foto-2.jpg", alt="")
        .team-item__descr
            .team-item__name Алина
            .team-item__post менеджер ПРОЕКТОВ

    .team-item
        .team-item__pic
            img(src="img/staff_foto-3.jpg", alt="")
        .team-item__descr
            .team-item__name Мартин
            .team-item__post менеджер ПРОЕКТОВ

    .team-item
        .team-item__pic
            img(src="img/staff_foto-4.jpg", alt="")
        .team-item__descr
            .team-item__name Ирина
            .team-item__post менеджер ПРОЕКТОВ

    .team-item
        .team-item__pic
            img(src="img/staff_foto-5.jpg", alt="")
        .team-item__descr
            .team-item__name Ирина
            .team-item__post менеджер ПРОЕКТОВ