.techno-page
    .techno-page__top
        .techno-page__top-inner
            .techno-page__top-icon
                img(src="img/icon_sharepoint.png", alt="")
            .techno-page__descr SharePoint – это платформа-конструктор интранет сайтов с широкими функциональными возможностями, развитие которой – один из приоритетов Microsoft. Развивать функциональность портала, наращивая состав внедряемых модулей и интегрируемых систем, можно постепенно. При этом порог вхождения достаточно низкий, то есть уже при небольших затратах можно получить функциональное решение.

    include scheme

    include standarts


