.top-slider
    .top-slider__slides.slider
        .fs_loader
        .top-slider__slide.slide
            div(class="top-slider__slide-bg", data-fixed, data-pic="img/bg_top-slider.jpg")
            //.top-slider__descr
            img(class="top-slider__pic", src="img/top-slider-foto.jpg", alt="test", data-position="46,0", data-in="fade", data-step="1")

            //.top-slider__text
            .top-slider__title(data-position="77,422", data-in="top" data-step="1" data-out="top" data-ease-in="easeOutBounce") корпоративный портал <span>wss portal</span><br> на платформе <span>microsoft share point</span>
            .top-slider__price(data-position="211,422", data-in="left" data-step="2") от <span>28 000</span> $
            .top-slider__buttons(data-position="310,422", data-in="bottom" data-step="3")
                include open-form-buttons

        .top-slider__slide.slide
            div(class="top-slider__slide-bg", data-fixed, data-pic="img/bg_top-slider.jpg")
            //.top-slider__descr
            img(class="top-slider__pic", src="img/top-slider-foto.jpg", alt="test", data-position="46,0", data-in="fade", data-step="1")

            //.top-slider__text
            .top-slider__title(data-position="77,422", data-in="top" data-step="1" data-out="top" data-ease-in="easeOutBounce") корпоративный портал <span>wss portal</span><br> на платформе <span>microsoft share point</span>
            .top-slider__price(data-position="211,422", data-in="left" data-step="2") от <span>28 000</span> $
            .top-slider__buttons(data-position="310,422", data-in="bottom" data-step="3")
                include open-form-buttons

    .top-slider__bottom
        include top-clients