.top-slider
    .top-slider__inner
        .top-slider__left
            ul.top-slider__slides
                li.top-slider__slide
                    img(class="top-slider__pic", src="img/slider-foto.jpg", alt="test")
                    .top-slider__slide-bg
                    a.top-slider__play-btn(href="https://www.youtube.com/embed/Wt2JFskxGRE?autoplay=1")
                    .top-slider__descr
                        img(class="top-slider__logo", src="img/pepsico.png", alt="")
                        p Разработка и внедрение корпоративного портала на платформе SharePoint
                li.top-slider__slide
                    a.top-slider__play-btn(href="https://www.youtube.com/embed/Wt2JFskxGRE?autoplay=1")
                    img(class="top-slider__pic", src="img/slider-foto2.jpg", alt="test")
        .top-slider__pager

        .top-slider__right
            .top-slider__title It consulting <span>& System</span> integration
            .top-slider__text Выполняем проекты по внедрению SharePoint. Разработали два комплесных продукта PSS Portal и WSSDocs
            a.top-slider__more-link(href="#") Services